{
    "swagger": "2.0",
    "info": {
        "description": "开放平台api文档",
        "version": "1.0.0",
        "title": "开放平台api文档",
        "contact": {
            "email": "guoyucheng@weizoom.com"
        }
    },
    "host": "openapi.weizom.com",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/oauth/access_token/": {
            "get": {
                "tags": [
                    "auth"
                ],
                "summary": "根据appid和secret获取AccessToken",
                "description": "根据appid和secret获取AccessToken",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "appid",
                        "type": "string",
                        "description": "APP ID",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "secret",
                        "type": "string",
                        "description": "secret",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "schema": {
                            "$ref": "#/definitions/AccessToken"
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "access_token": "UKywoSQIL6t4divvUtAPojk7wz0dNN1tRJFbnNTxbHApwI8wz1P5wGvt5j8f5ij04n7QKUDB2z81pA9YtQIjuiEvsA==",
                                    "expires_in": ""
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/product/": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "获取商品详情",
                "description": "获取商品详情",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "type": "string",
                        "description": "access_token",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "schema": {
                            "$ref": "#/definitions/Product"
                        },
                        "examples": {
                            "application/json": {
                                    "code": 200,
                                    "data": {
                                        "categories": null,
                                        "created_at": "2016-09-09 15:00",
                                        "detail": "松鼠桂鱼的详情",
                                        "id": 67,
                                        "is_deleted": false,
                                        "is_enable_bill": false,
                                        "is_sellout": false,
                                        "limit_zone": 0,
                                        "limit_zone_type": 0,
                                        "min_limit": 0,
                                        "name": "松鼠桂鱼",
                                        "order_thumbnails_url": "http://dev.weapp.com/standard_static/test_resource_img/yu3.jpg",
                                        "owner_id": 191,
                                        "pic_url": "http://dev.weapp.com/standard_static/test_resource_img/yu3.jpg",
                                        "postage_type": "unified_postage_type",
                                        "price_info": {
                                            "display_original_price": 1,
                                            "display_price": 1,
                                            "max_price": 18,
                                            "min_price": 1
                                        },
                                        "sku": [
                                            {
                                                "id": 111,
                                                "is_deleted": false,
                                                "name": "1:1_2:4_3:7",
                                                "original_price": 1,
                                                "price": 1,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 4,
                                                        "name": "M"
                                                    },
                                                    "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                    },
                                                    "颜色": {
                                                        "id": 1,
                                                        "name": "红色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 1,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "name": "红色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 4,
                                                        "image": "",
                                                        "name": "M",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 7,
                                                        "image": "",
                                                        "name": "1",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 112,
                                                "is_deleted": false,
                                                "name": "1:2_2:4_3:7",
                                                "original_price": 2,
                                                "price": 2,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 4,
                                                        "name": "M"
                                                    },
                                                    "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                    },
                                                    "颜色": {
                                                        "id": 2,
                                                        "name": "黄色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 2,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "name": "黄色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 4,
                                                        "image": "",
                                                        "name": "M",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 7,
                                                        "image": "",
                                                        "name": "1",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 113,
                                                "is_deleted": false,
                                                "name": "1:3_2:4_3:7",
                                                "original_price": 3,
                                                "price": 3,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 4,
                                                        "name": "M"
                                                    },
                                                    "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                    },
                                                    "颜色": {
                                                        "id": 3,
                                                        "name": "蓝色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 3,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "name": "蓝色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 4,
                                                        "image": "",
                                                        "name": "M",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 7,
                                                        "image": "",
                                                        "name": "1",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 114,
                                                "is_deleted": false,
                                                "name": "1:1_2:5_3:7",
                                                "original_price": 4,
                                                "price": 4,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 5,
                                                        "name": "S"
                                                    },
                                                    "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                    },
                                                    "颜色": {
                                                        "id": 1,
                                                        "name": "红色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 1,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "name": "红色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 5,
                                                        "image": "",
                                                        "name": "S",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 7,
                                                        "image": "",
                                                        "name": "1",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 115,
                                                "is_deleted": false,
                                                "name": "1:2_2:5_3:7",
                                                "original_price": 5,
                                                "price": 5,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 5,
                                                        "name": "S"
                                                    },
                                                    "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                    },
                                                    "颜色": {
                                                        "id": 2,
                                                        "name": "黄色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 2,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "name": "黄色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 5,
                                                        "image": "",
                                                        "name": "S",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 7,
                                                        "image": "",
                                                        "name": "1",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 116,
                                                "is_deleted": false,
                                                "name": "1:3_2:5_3:7",
                                                "original_price": 6,
                                                "price": 6,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 5,
                                                        "name": "S"
                                                    },
                                                    "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                    },
                                                    "颜色": {
                                                        "id": 3,
                                                        "name": "蓝色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 3,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "name": "蓝色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 5,
                                                        "image": "",
                                                        "name": "S",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 7,
                                                        "image": "",
                                                        "name": "1",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 117,
                                                "is_deleted": false,
                                                "name": "1:1_2:6_3:7",
                                                "original_price": 7,
                                                "price": 7,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 6,
                                                        "name": "L"
                                                    },
                                                    "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                    },
                                                    "颜色": {
                                                        "id": 1,
                                                        "name": "红色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 1,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "name": "红色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 6,
                                                        "image": "",
                                                        "name": "L",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 7,
                                                        "image": "",
                                                        "name": "1",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "purchase_price": 0,
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 118,
                                                "is_deleted": false,
                                                "name": "1:2_2:6_3:7",
                                                "original_price": 8,
                                                "price": 8,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 6,
                                                        "name": "L"
                                                    },
                                                    "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                    },
                                                    "颜色": {
                                                        "id": 2,
                                                        "name": "黄色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 2,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "name": "黄色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 6,
                                                        "image": "",
                                                        "name": "L",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 7,
                                                        "image": "",
                                                        "name": "1",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 119,
                                                "is_deleted": false,
                                                "name": "1:3_2:6_3:7",
                                                "original_price": 9,
                                                "price": 9,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 6,
                                                        "name": "L"
                                                    },
                                                    "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                    },
                                                    "颜色": {
                                                        "id": 3,
                                                        "name": "蓝色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 3,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "name": "蓝色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 6,
                                                        "image": "",
                                                        "name": "L",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 7,
                                                        "image": "",
                                                        "name": "1",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 120,
                                                "is_deleted": false,
                                                "name": "1:1_2:4_3:8",
                                                "original_price": 10,
                                                "price": 10,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 4,
                                                        "name": "M"
                                                    },
                                                    "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                    },
                                                    "颜色": {
                                                        "id": 1,
                                                        "name": "红色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 1,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "name": "红色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 4,
                                                        "image": "",
                                                        "name": "M",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 8,
                                                        "image": "",
                                                        "name": "3",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 121,
                                                "is_deleted": false,
                                                "name": "1:2_2:4_3:8",
                                                "original_price": 11,
                                                "price": 11,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 4,
                                                        "name": "M"
                                                    },
                                                    "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                    },
                                                    "颜色": {
                                                        "id": 2,
                                                        "name": "黄色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 2,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "name": "黄色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 4,
                                                        "image": "",
                                                        "name": "M",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 8,
                                                        "image": "",
                                                        "name": "3",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 122,
                                                "is_deleted": false,
                                                "name": "1:3_2:4_3:8",
                                                "original_price": 12,
                                                "price": 12,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 4,
                                                        "name": "M"
                                                    },
                                                    "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                    },
                                                    "颜色": {
                                                        "id": 3,
                                                        "name": "蓝色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 3,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "name": "蓝色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 4,
                                                        "image": "",
                                                        "name": "M",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 8,
                                                        "image": "",
                                                        "name": "3",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 123,
                                                "is_deleted": false,
                                                "name": "1:1_2:5_3:8",
                                                "original_price": 13,
                                                "price": 13,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 5,
                                                        "name": "S"
                                                    },
                                                    "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                    },
                                                    "颜色": {
                                                        "id": 1,
                                                        "name": "红色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 1,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "name": "红色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 5,
                                                        "image": "",
                                                        "name": "S",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 8,
                                                        "image": "",
                                                        "name": "3",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 124,
                                                "is_deleted": false,
                                                "name": "1:2_2:5_3:8",
                                                "original_price": 14,
                                                "price": 14,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 5,
                                                        "name": "S"
                                                    },
                                                    "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                    },
                                                    "颜色": {
                                                        "id": 2,
                                                        "name": "黄色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 2,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "name": "黄色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 5,
                                                        "image": "",
                                                        "name": "S",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 8,
                                                        "image": "",
                                                        "name": "3",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 125,
                                                "is_deleted": false,
                                                "name": "1:3_2:5_3:8",
                                                "original_price": 15,
                                                "price": 15,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 5,
                                                        "name": "S"
                                                    },
                                                    "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                    },
                                                    "颜色": {
                                                        "id": 3,
                                                        "name": "蓝色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 3,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "name": "蓝色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 5,
                                                        "image": "",
                                                        "name": "S",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 8,
                                                        "image": "",
                                                        "name": "3",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "purchase_price": 0,
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 126,
                                                "is_deleted": false,
                                                "name": "1:1_2:6_3:8",
                                                "original_price": 16,
                                                "price": 16,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 6,
                                                        "name": "L"
                                                    },
                                                    "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                    },
                                                    "颜色": {
                                                        "id": 1,
                                                        "name": "红色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 1,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "name": "红色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 6,
                                                        "image": "",
                                                        "name": "L",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 8,
                                                        "image": "",
                                                        "name": "3",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 127,
                                                "is_deleted": false,
                                                "name": "1:2_2:6_3:8",
                                                "original_price": 17,
                                                "price": 17,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 6,
                                                        "name": "L"
                                                    },
                                                    "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                    },
                                                    "颜色": {
                                                        "id": 2,
                                                        "name": "黄色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 2,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "name": "黄色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 6,
                                                        "image": "",
                                                        "name": "L",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 8,
                                                        "image": "",
                                                        "name": "3",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "purchase_price": 0,
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            },
                                            {
                                                "id": 128,
                                                "is_deleted": false,
                                                "name": "1:3_2:6_3:8",
                                                "original_price": 18,
                                                "price": 18,
                                                "product_id": 67,
                                                "property2value": {
                                                    "尺寸": {
                                                        "id": 6,
                                                        "name": "L"
                                                    },
                                                    "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                    },
                                                    "颜色": {
                                                        "id": 3,
                                                        "name": "蓝色"
                                                    }
                                                },
                                                "property_values": [
                                                    {
                                                        "id": 3,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "name": "蓝色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 6,
                                                        "image": "",
                                                        "name": "L",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 8,
                                                        "image": "",
                                                        "name": "3",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ],
                                                "stock_type": 0,
                                                "stocks": "无限",
                                                "weight": 1
                                            }
                                        ],
                                        "swipe_images": [
                                            {
                                                "height": 100,
                                                "id": 96,
                                                "linkUrl": "",
                                                "url": "http://dev.weapp.com/standard_static/test_resource_img/yu3.jpg",
                                                "width": 100
                                            }
                                        ],
                                        "thumbnails_url": "http://dev.weapp.com/standard_static/test_resource_img/yu3.jpg",
                                        "system_model_properties": [
                                            {
                                                "id": 1,
                                                "name": "颜色",
                                                "type": "product_model_property",
                                                "values": [
                                                    {
                                                        "id": 1,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "name": "红色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 2,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "name": "黄色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 3,
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "name": "蓝色",
                                                        "propertyId": 1,
                                                        "propertyName": "颜色",
                                                        "type": "product_model_property_value"
                                                    }
                                                ]
                                            },
                                            {
                                                "id": 2,
                                                "name": "尺寸",
                                                "type": "product_model_property",
                                                "values": [
                                                    {
                                                        "id": 4,
                                                        "image": "",
                                                        "name": "M",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 5,
                                                        "image": "",
                                                        "name": "S",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 6,
                                                        "image": "",
                                                        "name": "L",
                                                        "propertyId": 2,
                                                        "propertyName": "尺寸",
                                                        "type": "product_model_property_value"
                                                    }
                                                ]
                                            },
                                            {
                                                "id": 3,
                                                "name": "类型",
                                                "type": "product_model_property",
                                                "values": [
                                                    {
                                                        "id": 7,
                                                        "image": "",
                                                        "name": "1",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    },
                                                    {
                                                        "id": 8,
                                                        "image": "",
                                                        "name": "3",
                                                        "propertyId": 3,
                                                        "propertyName": "类型",
                                                        "type": "product_model_property_value"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                        }
                    }
                }
            }
        }
    },

    "definitions": {
        "AccessToken": {
            "type": "object",
            "required": [
                "access_token",
                "expires_in"
            ],
            "properties": {
                "access_token": {
                    "type": "string",
                    "description": "api 接口访问凭证"
                },
                "expires_in": {
                    "type": "string",
                    "description": "access_token有效时间"
                }
            }
        },
        "Product": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "number",
                    "description": "数据库生成的商品ID"
                },
                "owner_id": {
                    "type": "number",
                    "description": "ownerid"
                },
                "name": {
                    "type": "string"
                },
                "is_deleted": {
                    "type": "boolean",
                    "description": "是否删除"
                },
                "thumbnails_url": {
                    "type": "string",
                    "description": "索lvtu"
                },
                "order_thumbnails_url": {
                    "type": "string",
                    "description": "订单列表lvsuotu"
                },
                "pic_url": {
                    "type": "string",
                    "description": "封面"
                },
                "is_sellout": {
                    "type": "boolean",
                    "description": "是否售光"
                },
                "postage_type":{
                    "type": "string",
                    "description": "unified_postage_type"
                },
                "detail": {
                    "type": "string",
                    "description": "商品详情"
                },
                "remark": {
                    "type": "string"
                },
                "postage_id": {
                    "type": "number"
                },
                "is_enable_bill": {
                    "type": "number"
                },
                "sku": {
                    "type":"object",
                     "properties": {
                        "is_deleted":{
                            "type": "boolean",
                            "description": "是否删除"  
                        },
                        "name":{
                            "type": "string",
                            "description": "规格id组装字符串，如果商品无规格该值：starand"  
                        },
                        "weight":{
                            "type": "number",
                            "description": "重量"  
                        },
                        "price":{
                            "type": "string",
                            "description": "售价"  
                        },
                        "id":{
                            "type": "number",
                            "description": "id"  
                        },
                        "stock_type":{
                            "type": "number",
                            "description": "库存类型0:无限 1:有限"  
                        },
                        "stocks":{
                            "type": "number",
                            "description": "库存"
                        },
                        "property2value":{
                            "type": "object",
                            "properties":{
                                "property_name": {
                                    "type":"object",
                                    "description":"规格名称",
                                    "properties": {
                                          "id": {
                                              "type":"number"
                                            },
                                          "name":{
                                              "type":"string",
                                              "description": "规格详细名称如果：尺寸下的M，L，S"  
                                            }
                                    }
                                }
                            }
                        },
                       "property_values": {
                            "type": "object",
                            "properties":{
                                "id": {
                                    "type":"number",
                                    "description": "规格id"
                                  },
                                "name":{
                                    "type":"string",
                                    "description": "尺寸下的M，L，S"  
                                  },
                                "propertyName":{
                                    "type":"string",
                                    "description": "如尺寸"  
                                  },
                                "image":{
                                    "type":"string",
                                    "description": "图片"  
                                  }
                            }
                         
                        }
                     }
                }
            }
        },
    },
    "externalDocs": {
        "description": "授权API描述文档",
        "url": "http://swagger.io"
    }
}