{
    "swagger": "2.0",
    "info": {
        "description": "开放平台api文档",
        "version": "1.0.0",
        "title": "开放平台api文档",
        "contact": {
            "email": "guoyucheng@weizoom.com"
        }
    },
    "host": "openapi.weizom.com",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/oauth/access_token/": {
            "get": {
                "tags": [
                    "auth"
                ],
                "summary": "根据appid和secret获取AccessToken",
                "description": "根据appid和secret获取AccessToken",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "appid",
                        "type": "string",
                        "description": "APP ID",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "secret",
                        "type": "string",
                        "description": "secret",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "schema": {
                            "$ref": "#/definitions/AccessToken"
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "access_token": "UKywoSQIL6t4divvUtAPojk7wz0dNN1tRJFbnNTxbHApwI8wz1P5wGvt5j8f5ij04n7QKUDB2z81pA9YtQIjuiEvsA==",
                                    "expires_in": ""
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/product/": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "获取商品详情",
                "description": "获取商品详情",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "type": "string",
                        "description": "授权信息",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "product_id",
                        "type": "string",
                        "description": "商品ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "schema": {
                            "$ref": "#/definitions/Product"
                        },
                        "examples": {
                            "application/json": {
                                    "code": 0,
                                    "errMsg": "",
                                    "innerErrMsg": "",
                                    "data": {
                                        "supplier_postage_config": {},
                                        "postage_type": "unified_postage_type",
                                        "total_stocks": 63,
                                        "detail": "<html><body><p>12312</p></body></html>",
                                        "pic_url": "http://dev.weapp.com",
                                        "min_limit": 0,
                                        "supplier": 2,
                                        "limit_zone": 0,
                                        "is_use_custom_model": true,
                                        "is_enable_bill": false,
                                        "name": "衣服",
                                        "created_at": "2016-09-21 17:31",
                                        "is_use_cod_pay_interface": false,
                                        "limit_zone_type": 1,
                                        "limit_zone_detail": [
                                          {
                                            "cities": [],
                                            "provinceId": 1,
                                            "zoneName": "直辖市",
                                            "provinceName": "北京市"
                                          },
                                          {
                                            "cities": [],
                                            "provinceId": 2,
                                            "zoneName": "直辖市",
                                            "provinceName": "天津市"
                                          },
                                          {
                                            "cities": [],
                                            "provinceId": 3,
                                            "zoneName": "华北-东北",
                                            "provinceName": "河北省"
                                          },
                                          {
                                            "cities": [],
                                            "provinceId": 9,
                                            "zoneName": "直辖市",
                                            "provinceName": "上海市"
                                          },
                                          {
                                            "cities": [
                                              {
                                                "cityId": 77,
                                                "cityName": "常州市"
                                              },
                                              {
                                                "cityId": 79,
                                                "cityName": "南通市"
                                              },
                                              {
                                                "cityId": 81,
                                                "cityName": "淮安市"
                                              }
                                            ],
                                            "provinceId": 10,
                                            "zoneName": "华东地区",
                                            "provinceName": "江苏省"
                                          }
                                        ],
                                        "sales": null,
                                        "thumbnails_url": "http://chaozhi.weizoom.com/static/upload/20160921/1474450258043_377.jpg",
                                        "order_thumbnails_url": "http://chaozhi.weizoom.com/static/upload/20160921/1474450258043_377.jpg",
                                        "swipe_images": [
                                          {
                                            "url": "http://chaozhi.weizoom.com/static/upload/20160921/1474450258043_377.jpg",
                                            "width": 100,
                                            "linkUrl": "",
                                            "id": 13,
                                            "height": 100
                                          },
                                          {
                                            "url": "http://chaozhi.weizoom.com/static/upload/20160921/147445026606_576.jpg",
                                            "width": 100,
                                            "linkUrl": "",
                                            "id": 14,
                                            "height": 100
                                          },
                                          {
                                            "url": "http://chaozhi.weizoom.com/static/upload/20160921/1474450271012_241.png",
                                            "width": 100,
                                            "linkUrl": "",
                                            "id": 15,
                                            "height": 100
                                          }
                                        ],
                                        "is_delivery": false,
                                        "id": 11,
                                        "is_sellout": false,
                                        "price_info": {
                                          "display_original_price": 22,
                                          "display_price": 22,
                                          "display_market_price": "0.00",
                                          "max_price": 44,
                                          "min_price": 22
                                        },
                                        "models": [
                                          {
                                            "original_price": 22,
                                            "is_deleted": false,
                                            "name": "4:7_5:10",
                                            "weight": 2,
                                            "price": 22,
                                            "user_code": "",
                                            "purchase_price": 11,
                                            "market_price": 0,
                                            "stock_type": 1,
                                            "property2value": {
                                              "尺寸": {
                                                "id": 7,
                                                "name": "L"
                                              },
                                              "颜色": {
                                                "id": 10,
                                                "name": "红色"
                                              }
                                            },
                                            "property_values": [
                                              {
                                                "name": "L",
                                                "propertyName": "尺寸",
                                                "id": 7,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 4
                                              },
                                              {
                                                "name": "红色",
                                                "propertyName": "颜色",
                                                "id": 10,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 5
                                              }
                                            ],
                                            "stocks": 13,
                                            "id": 17,
                                            "product_id": 11
                                          },
                                          {
                                            "original_price": 33,
                                            "is_deleted": false,
                                            "name": "4:8_5:10",
                                            "weight": 2,
                                            "price": 33,
                                            "user_code": "",
                                            "purchase_price": 16.5,
                                            "market_price": 0,
                                            "stock_type": 1,
                                            "property2value": {
                                              "尺寸": {
                                                "id": 8,
                                                "name": "M"
                                              },
                                              "颜色": {
                                                "id": 10,
                                                "name": "红色"
                                              }
                                            },
                                            "property_values": [
                                              {
                                                "name": "M",
                                                "propertyName": "尺寸",
                                                "id": 8,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 4
                                              },
                                              {
                                                "name": "红色",
                                                "propertyName": "颜色",
                                                "id": 10,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 5
                                              }
                                            ],
                                            "stocks": 12,
                                            "id": 18,
                                            "product_id": 11
                                          },
                                          {
                                            "original_price": 44,
                                            "is_deleted": false,
                                            "name": "4:9_5:10",
                                            "weight": 2,
                                            "price": 44,
                                            "user_code": "",
                                            "purchase_price": 22,
                                            "market_price": 0,
                                            "stock_type": 1,
                                            "property2value": {
                                              "尺寸": {
                                                "id": 9,
                                                "name": "S"
                                              },
                                              "颜色": {
                                                "id": 10,
                                                "name": "红色"
                                              }
                                            },
                                            "property_values": [
                                              {
                                                "name": "S",
                                                "propertyName": "尺寸",
                                                "id": 9,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 4
                                              },
                                              {
                                                "name": "红色",
                                                "propertyName": "颜色",
                                                "id": 10,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 5
                                              }
                                            ],
                                            "stocks": 22,
                                            "id": 19,
                                            "product_id": 11
                                          },
                                          {
                                            "original_price": 22,
                                            "is_deleted": false,
                                            "name": "4:7_5:11",
                                            "weight": 2,
                                            "price": 22,
                                            "user_code": "",
                                            "purchase_price": 11,
                                            "market_price": 0,
                                            "stock_type": 1,
                                            "property2value": {
                                              "尺寸": {
                                                "id": 7,
                                                "name": "L"
                                              },
                                              "颜色": {
                                                "id": 11,
                                                "name": "黄色"
                                              }
                                            },
                                            "property_values": [
                                              {
                                                "name": "L",
                                                "propertyName": "尺寸",
                                                "id": 7,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 4
                                              },
                                              {
                                                "name": "黄色",
                                                "propertyName": "颜色",
                                                "id": 11,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 5
                                              }
                                            ],
                                            "stocks": 2,
                                            "id": 20,
                                            "product_id": 11
                                          },
                                          {
                                            "original_price": 33,
                                            "is_deleted": false,
                                            "name": "4:8_5:11",
                                            "weight": 2,
                                            "price": 33,
                                            "user_code": "",
                                            "purchase_price": 16.5,
                                            "market_price": 0,
                                            "stock_type": 1,
                                            "property2value": {
                                              "尺寸": {
                                                "id": 8,
                                                "name": "M"
                                              },
                                              "颜色": {
                                                "id": 11,
                                                "name": "黄色"
                                              }
                                            },
                                            "property_values": [
                                              {
                                                "name": "M",
                                                "propertyName": "尺寸",
                                                "id": 8,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 4
                                              },
                                              {
                                                "name": "黄色",
                                                "propertyName": "颜色",
                                                "id": 11,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 5
                                              }
                                            ],
                                            "stocks": 2,
                                            "id": 21,
                                            "product_id": 11
                                          },
                                          {
                                            "original_price": 44,
                                            "is_deleted": false,
                                            "name": "4:9_5:11",
                                            "weight": 2,
                                            "price": 44,
                                            "user_code": "",
                                            "purchase_price": 22,
                                            "market_price": 0,
                                            "stock_type": 1,
                                            "property2value": {
                                              "尺寸": {
                                                "id": 9,
                                                "name": "S"
                                              },
                                              "颜色": {
                                                "id": 11,
                                                "name": "黄色"
                                              }
                                            },
                                            "property_values": [
                                              {
                                                "name": "S",
                                                "propertyName": "尺寸",
                                                "id": 9,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 4
                                              },
                                              {
                                                "name": "黄色",
                                                "propertyName": "颜色",
                                                "id": 11,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 5
                                              }
                                            ],
                                            "stocks": 12,
                                            "id": 22,
                                            "product_id": 11
                                          }
                                        ]
                                        
                                        
                                    }
                                }
                        }
                    }
                }
            }
        },
        "/mall/products/": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "获取商品列表",
                "description": "获取商品列表",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "type": "string",
                        "description": "授权信息",
                        "required": true
                    },
                    {
                        "name": "cur_page",
                        "in": "query",
                        "description": "当前请求页",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "count_per_page",
                        "in": "query",
                        "description": "每页显示数量",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/Products"
                        },
                        "examples": {
                            "application/json": {
                                "code": 0,
                                "errMsg": "",
                                "innerErrMsg": "",
                                "data": {
                                    "items": [
                                        {
                                          "name": "短袖T恤",
                                          "display_price": 220.00,
                                          "sales": 26,
                                          "thumbnails_url": "http://chaozhi.weizoom.com/static/upload/20160921/1474450258043_377.jpg",
                                          "supplier": 2,
                                          "id": 11
                                        },
                                        {
                                          "name": "吊裆裤",
                                          "display_price": 399.00,
                                          "sales": 44,
                                          "thumbnails_url": "http://chaozhi.weizoom.com/static/upload/20160921/1474448967063_375.jpg",
                                          "supplier": 2,
                                          "id": 10
                                        }
                                    ]
                                }
                            }
                        }

                    }
                }
            }
        },
        "/mall/order/":{
            "get":{
                "summary":"获取订单详情接口",
                "description":"获取订单详情接口",
                "parameters":[
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "订单编号",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags":[
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "description": "信息描述"
                                        },
                                        "order": {
                                            "$ref": "#/definitions/OrderDetail"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "true or false"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "put":{
                "summary":"创建订单接口",
                "description":"创建订单接口",
                "parameters":[
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deal_id",
                        "in": "query",
                        "description": "交易流水号",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deal_price",
                        "in": "query",
                        "description": "交易总金额",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apply_stock_id",
                        "in": "query",
                        "description": "申请库存资源的id",
                        "required": true,
                        "type": "number"
                    },
                    {
                        "name": "ship_name",
                        "in": "query",
                        "description": "收货人姓名",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ship_tel",
                        "in": "query",
                        "description": "收货人电话",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ship_address",
                        "in": "query",
                        "description": "收货人地址",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "products",
                        "in": "body",
                        "description": "商品集合",
                        "required": true,
                        "schema":{
                           "$ref": "#/definitions/OrderProduct"
                          }
                    }
                ],
                "tags":[
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "description": "信息描述"
                                        },
                                        "order_id": {
                                            "type": "string",
                                            "description": "订单编号"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "true or false"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post":{
                "summary":"取消订单接口",
                "description": "取消订单接口",
                "parameters":[
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "订单编号",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cancel",
                        "in": "query",
                        "description": "取消订单",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags":[
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "description": "信息描述"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "true or false"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/order_list/": {
            "get": {
                "summary": "获取订单列表",
                "description": "获取订单列表",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cur_page",
                        "in": "query",
                        "description": "分页器当前请求页,默认第1页",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "order_status",
                        "in": "query",
                        "description": "订单状态：  1  已取消：取消订单(回退销量)  \n3  待发货：已付款，未发货  \n4  已发货：已付款，已发货  \n5  已完成：为已完成状态",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "date_interval",
                        "in": "query",
                        "description": "查询时间：2014-10-07|2014-10-08，注：使用‘|’区分，该参数和date_interval_type结合使用",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "date_interval_type",
                        "in": "query",
                        "description": "时间类型：1 下单时间 3 发货时间 6 订单完成时间 7 订单取消时间",
                        "required": false,
                        "type": "string"
                    }
                    
                ],
                "tags": [
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "orders": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/Order"
                                            }
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },

    "definitions": {
        "AccessToken": {
            "type": "object",
            "required": [
                "access_token",
                "expires_in"
            ],
            "properties": {
                "access_token": {
                    "type": "string",
                    "description": "api 接口访问凭证"
                },
                "expires_in": {
                    "type": "string",
                    "description": "access_token有效时间"
                }
            }
        },
        "Product": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "响应码"
                },
                "errMsg": {
                    "type": "string"
                },
                "innerErrMsg": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "properties": {
                          "name": {
                              "type": "string",
                              "description": "商品名称"
                           },
                          "id": {
                              "type": "string",
                              "description": "商品ID"
                          },
                          "is_delivery": {
                              "type": "string",
                              "description": "是勾选配送时间"
                          },
                          "sales": {
                              "type": "string",
                              "description": "商品销量"
                          },
                          "limit_zone_type": {
                              "type": "string",
                              "description": "商品限售区域类型"
                          },
                          "limit_zone_detail": {
                              "type": "object",
                              "description": "商品限制区域详细信息",
                              "properties": {
                                  "provinceId": {
                                      "type": "string",
                                      "description": "商品限制区域省份ID,如：10"
                                  },
                                  "zoneName": {
                                      "type": "string",
                                      "description": "商品限制区域所属大区名称,如：直辖市或华东地区"
                                  },
                                  "provinceName": {
                                      "type": "string",
                                      "description": "商品限制区域省份名称,如，江苏省"
                                  },
                                  "cities": {
                                      "type": "object",
                                      "description": "商品限制区域城市详细信息",
                                      "properties": {
                                          "cityId": {
                                              "type": "string",
                                              "description": "商品限制区域城市ID,如：77"
                                          },
                                          "cityName": {
                                              "type": "string",
                                              "description": "商品限制区域城市名称,如：南通市"
                                          }
                                      }
                                  },
                              }
                          },
                          "created_at": {
                              "type": "string",
                              "description": "商品创建时间"
                          },
                          "is_use_cod_pay_interface": {
                              "type": "boolean",
                              "description": "是否货到付款"
                           },
                          "swipe_images": {
                              "type": "object",
                              "description": "轮播图",
                              "properties": {
                                  "url": {
                                      "type": "string",
                                      "description": "图片请求地址"
                                  },
                                  "width": {
                                      "type": "string",
                                      "description": "图片宽度"
                                  },
                                  "linkUrl":{
                                      "type": "string",
                                      "description": "图片关联的地址"
                                  },
                                  "id": {
                                      "type": "string",
                                      "description": "图片ID"
                                  },
                                  "height": {
                                      "type": "string",
                                      "description": "图片高度"
                                  }
                               }
                          },
                          "price_info": {
                              "type": "object",
                              "description": "商品价格信息",
                              "properties": {
                                  "display_original_price": {
                                      "type": "string",
                                      "description": "原价"
                                  },
                                  "display_price": {
                                      "type": "string",
                                      "description": "售价"
                                  },
                                  "max_price": {
                                      "type": "string",
                                      "description": "最高价"
                                  },
                                  "min_price": {
                                      "type": "string",
                                      "description": "最低价度"
                                  }
                               }
                          },
                          "supplier_postage_config": {
                              "type": "string",
                              "description": "供货商邮费配置"
                           },
                          "postage_type": {
                              "type": "string",
                              "description": "运费类型"
                          },
                          "total_stocks": {
                              "type": "string",
                              "description": "总库存数"
                          },
                          "supplier": {
                              "type": "string",
                              "description": "供货商ID"
                          },
                          "thumbnails_url": {
                              "type": "string",
                              "description": "缩略图"
                          },
                          "order_thumbnails_url": {
                              "type": "string",
                              "description": "订单列表lvsuotu"
                          },
                          "pic_url": {
                              "type": "string",
                              "description": "封面"
                          },
                          "is_sellout": {
                              "type": "boolean",
                              "description": "是否售光, 如：True  or  False"
                          },
                          "min_limit":{
                              "type": "string",
                              "description": "最大数量"
                          },
                          "detail": {
                              "type": "string",
                              "description": "商品详情"
                          },
                          "limit_zone": {
                              "type": "string",
                              "description": "商品限制区域"
                          },
                          "is_enable_bill": {
                              "type": "number",
                              "description": "是否开具发票, 如：True  or  False"
                          },
                          "is_use_custom_model": {
                              "type": "boolean",
                              "description": "是否为通用规格, 如：True  or  False"
                          },
                          "models": {
                              "type":"object",
                               "properties": {
                                 "product_id":{
                                      "type": "string",
                                      "description": "商品ID"  
                                  },
                                 "original_price":{
                                      "type": "number",
                                      "description": "商品原价"  
                                  },
                                  "is_deleted":{
                                      "type": "boolean",
                                      "description": "是否删除, 如：True  or  False"  
                                  },
                                  "name":{
                                      "type": "string",
                                      "description": "规格id组装字符串，如果商品无规格该值：standard" 
                                  },
                                  "weight":{
                                      "type": "number",
                                      "description": "重量"  
                                  },
                                  "price":{
                                      "type": "string",
                                      "description": "售价"  
                                  },
                                  "id":{
                                      "type": "number",
                                      "description": "id"  
                                  },
                                  "stock_type":{
                                      "type": "number",
                                      "description": "库存类型0:无限 1:有限"  
                                  },
                                  "stocks":{
                                      "type": "number",
                                      "description": "库存"
                                  },
                                  "property2value":{
                                      "type": "object",
                                      "properties":{
                                          "property_name": {
                                              "type":"object",
                                              "description":"规格名称，如尺寸、颜色",
                                              "properties": {
                                                    "id": {
                                                        "type":"number"
                                                      },
                                                    "name":{
                                                        "type":"string",
                                                        "description": "规格详细名称如果：尺寸下的M，L，S"  
                                                      }
                                              }
                                          }
                                      }
                                  },
                                 "property_values": {
                                      "type": "object",
                                      "properties":{
                                          "id": {
                                              "type":"number",
                                              "description": "规格id"
                                            },
                                          "name":{
                                              "type":"string",
                                              "description": "尺寸下的M，L，S"  
                                            },
                                          "propertyName":{
                                              "type":"string",
                                              "description": "如尺寸"  
                                            },
                                          "image":{
                                              "type":"string",
                                              "description": "图片"  
                                            },
                                          "propertyId":{
                                              "type":"string",
                                              "description": "规格属性ID"  
                                            }
                                      }
                                   
                                  }
                               }
                          }
                    }
                  }
              }
        },
        "Products":{
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "innerErrMsg": {
                    "type": "string"
                },
                "errMsg": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "items": {
                            "type": "object",
                            "description": "商品列表", 
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "商品名称"
                                },
                                "thumbnails_url": {
                                    "type": "string",
                                    "description": "商品缩略图的url地址"
                                },
                                "display_price": {
                                    "type": "number",
                                    "description": "商品总库存"
                                },
                                "id": {
                                    "type": "string",
                                    "description": "商品ID"
                                },
                                "sales": {
                                    "type": "number",
                                    "description": "商品销量"
                                },
                                "supplier": {
                                    "type": "string",
                                    "description": "供货商ID"
                                }
                            }
                        }
                    }
                }
            }
        },
        "Order": {
            "type": "object",
            "properties": {
                "order_id": {
                    "type": "string",
                    "description": "订单编号."
                },
                "total_price": {
                    "type": "string",
                    "description": "订单金额（实付金额RMB）."
                },
                "ship_name": {
                    "type": "string",
                    "description": "收货人"
                },
                "ship_address": {
                    "type": "string",
                    "description": "收获地址"
                },
                "ship_tel": {
                    "type": "string",
                    "description": "收获电话"
                },
                "product_count": {
                    "type": "string",
                    "description": "购买商品数量"
                },
                "payment_time": {
                    "type": "string",
                    "description": "支付时间"
                },
                "order_status": {
                    "type": "string",
                    "description": "订单状态"
                },
                "express_company_name": {
                    "type": "string",
                    "description": "快递名称"
                },
                "express_number": {
                    "type": "string",
                    "description": "快递号"
                },
                "remark": {
                    "type": "string",
                    "description": "订单备注"
                },
                "postage": {
                    "type": "string",
                    "description": "快递费"
                },
                "created_at": {
                    "type": "string",
                    "description": "订单创建时间"
                },
                "delivery_time": {
                    "type": "string",
                    "description": "发货时间"
                },
                "pay_time": {
                    "type": "string",
                    "description": "付款时间"
                },
                "cancel_time": {
                    "type": "string",
                    "description": "取消订单时间"
                },
                "finish_time": {
                    "type": "string",
                    "description": "订单完成时间"
                }
            }
        },
        "OrderDetail": {
            "type": "object",
            "properties": {
                "order_id": {
                    "type": "string",
                    "description": "订单编号."
                },
                "total_price": {
                    "type": "string",
                    "description": "订单金额（实付金额RMB）."
                },
                "ship_name": {
                    "type": "string",
                    "description": "收货人"
                },
                "ship_address": {
                    "type": "string",
                    "description": "收获地址"
                },
                "ship_tel": {
                    "type": "string",
                    "description": "收获电话"
                },
                "product_count": {
                    "type": "number",
                    "description": "购买商品数量"
                },
                "payment_time": {
                    "type": "string",
                    "description": "支付时间"
                },
                "order_status": {
                    "type": "string",
                    "description": "订单状态"
                },
                "express_company_name": {
                    "type": "string",
                    "description": "快递名称"
                },
                "express_number": {
                    "type": "string",
                    "description": "快递号"
                },
                "remark": {
                    "type": "string",
                    "description": "订单备注"
                },
                "postage": {
                    "type": "string",
                    "description": "快递费"
                },
                "created_at": {
                    "type": "string",
                    "description": "订单创建时间"
                },
                "delivery_time": {
                    "type": "string",
                    "description": "发货时间"
                },
                "pay_time": {
                    "type": "string",
                    "description": "付款时间"
                },
                "cancel_time": {
                    "type": "string",
                    "description": "取消订单时间"
                },
                "finish_time": {
                    "type": "string",
                    "description": "订单完成时间"
                },
                "express_details":{
                    "type": "string",
                    "description": "物流信息"
                },
                "deal_id":{
                    "description": "交易流水号",
                    "type": "string"
                },
                "deal_price":{
                    "description": "交易总金额",
                    "type": "string"
                },
                "apply_stock_id":{
                    "description": "申请库存资源的id",
                    "type": "number"
                },
                "products":{
                    "items": {
                        "$ref": "#/definitions/OrderProduct"
                    }
                }
            }
        },
        "OrderProduct":{
            "type": "object",
            "properties": {
                "product_id":{
                    "description": "商品id",
                    "type": "number"
                },
                "product_model_id":{
                    "description": "商品规格id",
                    "type": "number"
                },
                "product_name":{
                    "description": "商品名称",
                    "type": "string"
                },
                "product_count":{
                    "description": "商品数量",
                    "type": "number"
                },
                "product_price":{
                    "description": "单个商品售价",
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "授权API描述文档",
        "url": "http://swagger.io"
    }
}