{
    "swagger": "2.0",
    "info": {
        "description": "开放平台api文档",
        "version": "1.0.0",
        "title": "开放平台api文档",
        "contact": {
            "email": "guoyucheng@weizoom.com"
        }
    },
    "host": "openapi.weizom.com",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/oauth/access_token/": {
            "get": {
                "tags": [
                    "auth"
                ],
                "summary": "根据appid和secret获取AccessToken",
                "description": "根据appid和secret获取AccessToken",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "appid",
                        "type": "string",
                        "description": "APP ID",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "secret",
                        "type": "string",
                        "description": "secret",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "schema": {
                            "$ref": "#/definitions/AccessToken"
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "access_token": "UKywoSQIL6t4divvUtAPojk7wz0dNN1tRJFbnNTxbHApwI8wz1P5wGvt5j8f5ij04n7QKUDB2z81pA9YtQIjuiEvsA==",
                                    "expires_in": ""
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/product/": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "获取商品详情",
                "description": "获取商品详情",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "type": "string",
                        "description": "授权信息",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "product_id",
                        "type": "string",
                        "description": "商品ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "schema": {
                            "$ref": "#/definitions/Product"
                        },
                        "examples": {
                            "application/json": {
                                    "code": 0,
                                    "errMsg": "",
                                    "innerErrMsg": "",
                                    "data": {
                                        "supplier_postage_config": {},
                                        "postage_type": "unified_postage_type",
                                        "total_stocks": 63,
                                        "detail": "<html><body><p>12312</p></body></html>",
                                        "pic_url": "http://dev.weapp.com",
                                        "min_limit": 0,
                                        "supplier": 2,
                                        "limit_zone": 0,
                                        "is_use_custom_model": true,
                                        "is_enable_bill": false,
                                        "name": "衣服",
                                        "created_at": "2016-09-21 17:31",
                                        "is_use_cod_pay_interface": false,
                                        "limit_zone_type": 0,
                                        "sales": null,
                                        "thumbnails_url": "http://chaozhi.weizoom.com/static/upload/20160921/1474450258043_377.jpg",
                                        "order_thumbnails_url": "http://chaozhi.weizoom.com/static/upload/20160921/1474450258043_377.jpg",
                                        "swipe_images": [
                                          {
                                            "url": "http://chaozhi.weizoom.com/static/upload/20160921/1474450258043_377.jpg",
                                            "width": 100,
                                            "linkUrl": "",
                                            "id": 13,
                                            "height": 100
                                          },
                                          {
                                            "url": "http://chaozhi.weizoom.com/static/upload/20160921/147445026606_576.jpg",
                                            "width": 100,
                                            "linkUrl": "",
                                            "id": 14,
                                            "height": 100
                                          },
                                          {
                                            "url": "http://chaozhi.weizoom.com/static/upload/20160921/1474450271012_241.png",
                                            "width": 100,
                                            "linkUrl": "",
                                            "id": 15,
                                            "height": 100
                                          }
                                        ],
                                        "is_delivery": false,
                                        "id": 11,
                                        "is_sellout": false,
                                        "price_info": {
                                          "display_original_price": 22,
                                          "display_price": 22,
                                          "display_market_price": "0.00",
                                          "max_price": 44,
                                          "min_price": 22
                                        },
                                        "limit_zone_detail": [
                                          {
                                            "cities": [],
                                            "provinceId": 1,
                                            "zoneName": "直辖市",
                                            "provinceName": "北京市"
                                          },
                                          {
                                            "cities": [],
                                            "provinceId": 2,
                                            "zoneName": "直辖市",
                                            "provinceName": "天津市"
                                          },
                                          {
                                            "cities": [],
                                            "provinceId": 3,
                                            "zoneName": "华北-东北",
                                            "provinceName": "河北省"
                                          },
                                          {
                                            "cities": [],
                                            "provinceId": 9,
                                            "zoneName": "直辖市",
                                            "provinceName": "上海市"
                                          },
                                          {
                                            "cities": [
                                              {
                                                "cityId": 77,
                                                "cityName": "常州市"
                                              },
                                              {
                                                "cityId": 79,
                                                "cityName": "南通市"
                                              },
                                              {
                                                "cityId": 81,
                                                "cityName": "淮安市"
                                              }
                                            ],
                                            "provinceId": 10,
                                            "zoneName": "华东地区",
                                            "provinceName": "江苏省"
                                          }
                                        ],
                                        "models": [
                                          {
                                            "original_price": 22,
                                            "is_deleted": false,
                                            "name": "4:7_5:10",
                                            "weight": 2,
                                            "price": 22,
                                            "user_code": "",
                                            "purchase_price": 11,
                                            "market_price": 0,
                                            "stock_type": 1,
                                            "property2value": {
                                              "尺寸": {
                                                "id": 7,
                                                "name": "L"
                                              },
                                              "颜色": {
                                                "id": 10,
                                                "name": "红色"
                                              }
                                            },
                                            "property_values": [
                                              {
                                                "name": "L",
                                                "propertyName": "尺寸",
                                                "id": 7,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 4
                                              },
                                              {
                                                "name": "红色",
                                                "propertyName": "颜色",
                                                "id": 10,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 5
                                              }
                                            ],
                                            "stocks": 13,
                                            "id": 17,
                                            "product_id": 11
                                          },
                                          {
                                            "original_price": 33,
                                            "is_deleted": false,
                                            "name": "4:8_5:10",
                                            "weight": 2,
                                            "price": 33,
                                            "user_code": "",
                                            "purchase_price": 16.5,
                                            "market_price": 0,
                                            "stock_type": 1,
                                            "property2value": {
                                              "尺寸": {
                                                "id": 8,
                                                "name": "M"
                                              },
                                              "颜色": {
                                                "id": 10,
                                                "name": "红色"
                                              }
                                            },
                                            "property_values": [
                                              {
                                                "name": "M",
                                                "propertyName": "尺寸",
                                                "id": 8,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 4
                                              },
                                              {
                                                "name": "红色",
                                                "propertyName": "颜色",
                                                "id": 10,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 5
                                              }
                                            ],
                                            "stocks": 12,
                                            "id": 18,
                                            "product_id": 11
                                          },
                                          {
                                            "original_price": 44,
                                            "is_deleted": false,
                                            "name": "4:9_5:10",
                                            "weight": 2,
                                            "price": 44,
                                            "user_code": "",
                                            "purchase_price": 22,
                                            "market_price": 0,
                                            "stock_type": 1,
                                            "property2value": {
                                              "尺寸": {
                                                "id": 9,
                                                "name": "S"
                                              },
                                              "颜色": {
                                                "id": 10,
                                                "name": "红色"
                                              }
                                            },
                                            "property_values": [
                                              {
                                                "name": "S",
                                                "propertyName": "尺寸",
                                                "id": 9,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 4
                                              },
                                              {
                                                "name": "红色",
                                                "propertyName": "颜色",
                                                "id": 10,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 5
                                              }
                                            ],
                                            "stocks": 22,
                                            "id": 19,
                                            "product_id": 11
                                          },
                                          {
                                            "original_price": 22,
                                            "is_deleted": false,
                                            "name": "4:7_5:11",
                                            "weight": 2,
                                            "price": 22,
                                            "user_code": "",
                                            "purchase_price": 11,
                                            "market_price": 0,
                                            "stock_type": 1,
                                            "property2value": {
                                              "尺寸": {
                                                "id": 7,
                                                "name": "L"
                                              },
                                              "颜色": {
                                                "id": 11,
                                                "name": "黄色"
                                              }
                                            },
                                            "property_values": [
                                              {
                                                "name": "L",
                                                "propertyName": "尺寸",
                                                "id": 7,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 4
                                              },
                                              {
                                                "name": "黄色",
                                                "propertyName": "颜色",
                                                "id": 11,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 5
                                              }
                                            ],
                                            "stocks": 2,
                                            "id": 20,
                                            "product_id": 11
                                          },
                                          {
                                            "original_price": 33,
                                            "is_deleted": false,
                                            "name": "4:8_5:11",
                                            "weight": 2,
                                            "price": 33,
                                            "user_code": "",
                                            "purchase_price": 16.5,
                                            "market_price": 0,
                                            "stock_type": 1,
                                            "property2value": {
                                              "尺寸": {
                                                "id": 8,
                                                "name": "M"
                                              },
                                              "颜色": {
                                                "id": 11,
                                                "name": "黄色"
                                              }
                                            },
                                            "property_values": [
                                              {
                                                "name": "M",
                                                "propertyName": "尺寸",
                                                "id": 8,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 4
                                              },
                                              {
                                                "name": "黄色",
                                                "propertyName": "颜色",
                                                "id": 11,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 5
                                              }
                                            ],
                                            "stocks": 2,
                                            "id": 21,
                                            "product_id": 11
                                          },
                                          {
                                            "original_price": 44,
                                            "is_deleted": false,
                                            "name": "4:9_5:11",
                                            "weight": 2,
                                            "price": 44,
                                            "user_code": "",
                                            "purchase_price": 22,
                                            "market_price": 0,
                                            "stock_type": 1,
                                            "property2value": {
                                              "尺寸": {
                                                "id": 9,
                                                "name": "S"
                                              },
                                              "颜色": {
                                                "id": 11,
                                                "name": "黄色"
                                              }
                                            },
                                            "property_values": [
                                              {
                                                "name": "S",
                                                "propertyName": "尺寸",
                                                "id": 9,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 4
                                              },
                                              {
                                                "name": "黄色",
                                                "propertyName": "颜色",
                                                "id": 11,
                                                "type": "product_model_property_value",
                                                "image": "",
                                                "propertyId": 5
                                              }
                                            ],
                                            "stocks": 12,
                                            "id": 22,
                                            "product_id": 11
                                          }
                                        ]
                                        
                                        
                                    }
                                }
                        }
                    }
                }
            }
        },
        "/mall/products/": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "获取商品列表",
                "description": "获取商品列表",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "type": "string",
                        "description": "授权信息",
                        "required": true
                    },
                    {
                        "name": "cur_page",
                        "in": "query",
                        "description": "当前请求页",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "count_per_page",
                        "in": "query",
                        "description": "每页显示数量",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/Products"
                        },
                        "examples": {
                            "application/json": {
                                "code": 0,
                                "errMsg": "",
                                "innerErrMsg": "",
                                "data": {
                                    "items": [
                                        {
                                          "name": "短袖T恤",
                                          "display_price": 220.00,
                                          "sales": 26,
                                          "thumbnails_url": "http://chaozhi.weizoom.com/static/upload/20160921/1474450258043_377.jpg",
                                          "supplier": 2,
                                          "id": 11
                                        },
                                        {
                                          "name": "吊裆裤",
                                          "display_price": 399.00,
                                          "sales": 44,
                                          "thumbnails_url": "http://chaozhi.weizoom.com/static/upload/20160921/1474448967063_375.jpg",
                                          "supplier": 2,
                                          "id": 10
                                        }
                                    ]
                                }
                            }
                        }

                    }
                }
            }
        },
        "/mall/order/": {
            "get": {
                "summary": "获取订单详情接口",
                "description": "获取订单详情接口",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "订单编号",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "description": "信息描述"
                                        },
                                        "order": {
                                            "$ref": "#/definitions/OrderDetail"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "order": {
                                        "sub_orders": [
                                            {
                                                "postage": 0.0,
                                                "delivery_time": "", 
                                                "express_company_name": "",
                                                "order_id": "20160926194619314^1s",
                                                "express_number": "",
                                                "products": [
                                                    {
                                                        "product_id": 13,
                                                        "price": 5.0,
                                                        "product_name": "mac",
                                                        "product_model_name": "3:7",
                                                        "product_count": 2,
                                                        "pic_url": "http://chaozhi.weizoom.com/static/upload/20160926/1474885237014_603.jpg"
                                                    },
                                                    {"product_id": 13,
                                                    "price": 10.0,
                                                    "product_name": "mac",
                                                    "product_model_name": "3:8",
                                                    "product_count": 2,
                                                    "pic_url": "http://chaozhi.weizoom.com/static/upload/20160926/1474885237014_603.jpg"
                                                    }
                                                ],
                                                "order_status": 5
                                            },
                                            {
                                                "postage": 0.0,
                                                "delivery_time": "",
                                                "express_company_name": "",
                                                "order_id": "20160926194619314^2s",
                                                "express_number": "",
                                                "products": [
                                                    {
                                                        "product_id": 10,
                                                        "price": 10.0,
                                                        "product_name": "test1product",
                                                        "product_model_name": "standard",
                                                        "product_count": 1,
                                                        "pic_url": "http://chaozhi.weizoom.com/static/upload/20160926/1474871228062_547.jpg"
                                                    }
                                                ],
                                                "order_status": 3
                                            }
                                        ],
                                        "final_price": 40.0,
                                        "order_id": "20160926194619314",
                                        "created_at": "2016-09-26 19:46:19",
                                        "ship_name": "\u5f20\u4e09",
                                        "ship_address": "\u5f20\u4e09\u674e\u56db\u7684\u5730\u5740",
                                        "ship_tel": "13766665555",
                                        "order_status": 3
                                    },
                                    "errcode": 0
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "创建订单接口",
                "description": "创建订单接口",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deal_id",
                        "in": "query",
                        "description": "交易流水号",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ship_name",
                        "in": "query",
                        "description": "收货人姓名",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ship_tel",
                        "in": "query",
                        "description": "收货人电话",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ship_address",
                        "in": "query",
                        "description": "收货人地址",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "products",
                        "in": "body",
                        "description": "商品集合",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PutOrderProduct"
                        }
                    }
                ],
                "tags": [
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "order_id": {
                                            "type": "string",
                                            "description": "订单编号"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "order_id": "20160927152821329",
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "取消订单接口",
                "description": "取消订单接口:\n 1、可取消主订单和子订单,主订单状态取自子订单集合中的订单状态最小值。\n 2、只能取消待支付、待发货状态的订单 \n 3、当子订单中存在非待支付、待发货状态的订单，不能取消主订单",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "订单编号",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "true or false"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "success": true,
                                    "errcode":0
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/order_list/": {
            "get": {
                "summary": "获取订单列表",
                "description": "获取订单列表",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cur_page",
                        "in": "query",
                        "description": "分页器当前请求页",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "order_status",
                        "in": "query",
                        "description": "订单状态：  1  已取消：取消订单(回退销量)  \n3  待发货：已付款，未发货  \n4  已发货：已付款，已发货  \n5  已完成：为已完成状态 \n  7  退款完成：订单状态，对第三方而言并未退款",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "description": "返回码"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "orders": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/Order"
                                            }
                                        },
                                        "page_info": {
                                            "$ref": "#/definitions/PageInfo"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "page_info": {
                                        "max_page": 1,
                                        "total_count": 1,
                                        "cur_page": 1
                                    },
                                    "orders": [
                                        {
                                            "final_price": 7.0,
                                            "order_id": "20160926165124218",
                                            "created_at": "2016.09.26 16:51",
                                            "products": [
                                                {
                                                    "product_id": 12,
                                                    "price": 1.0,
                                                    "product_name": "pad1",
                                                    "product_model_name": "standard",
                                                    "product_count": 2,
                                                    "pic_url": "http://chaozhi.weizoom.com/static/upload/20160926/1474871164035_765.jpg"
                                                }, 
                                                {
                                                    "product_id": 10,
                                                    "price": 10.0,
                                                    "product_name": "test1product",
                                                    "product_model_name": "standard",
                                                    "product_count": 1,
                                                    "pic_url": "http://chaozhi.weizoom.com/static/upload/20160926/1474871228062_547.jpg"
                                                }
                                            ],
                                            "product_count": 3,
                                            "order_status": 4
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/express_details/": {
            "get": {
                "summary": "获取子订单的物流信息",
                "description": "获取子订单的物流信息，子订单的order_id如20160922174514355^1s,",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "子订单编号",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "description": "返回码"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "express": {
                                            "$ref": "#/definitions/Express"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "express": {
                                        "order_id": "20160926194620603^1s",
                                        "status": "已发货",
                                        "express_number": "99999999",
                                        "express_details": [
                                            {
                                                "context": "呼和浩特市邮政速递物流分公司金川揽投部安排投递（投递员姓名：安长虹;联系电话：18047140142）",
                                                "display_index": 8,
                                                "time": "2015-03-11 09:53:48"
                                            },
                                            {
                                                "context": "到达  呼和浩特市 处理中心",
                                                "display_index": 7,
                                                "time": "2015-03-10 18:06:00"
                                            },
                                            {
                                                "context": "离开北京市 发往呼和浩特市（经转）",
                                                "display_index": 6,
                                                "time": "2015-03-09 18:39:00"
                                            },
                                            {
                                                "context": "到达北京黄村转运站处理中心（经转）",
                                                "display_index": 5,
                                                "time": "2015-03-09 09:01:00"
                                            },
                                            {
                                                "context": "离开广州市 发往北京市（经转）",
                                                "display_index": 4,
                                                "time": "2015-03-08 01:15:00"
                                            },
                                            {
                                                "context": "<nihao123>深圳市横岗速递营销部已收件，（揽投员姓名：钟定基;联系电话：）",
                                                "display_index": 1,
                                                "time": "2015-03-06 21:16:58"
                                            }
                                        ],
                                        "express_company_name": "申通快递"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/pay/third_pay/": {
            "put": {
                "summary": "支付接口",
                "description": "支付接口",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "订单编号",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "pay"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "order_id": {
                                            "type": "string",
                                            "description": "订单编号"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "order_id": "20160926165121411"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/supplier_order/": {
            "get": {
                "summary": "获取供货商的订单列表",
                "description": "获取供货商的订单列表：针对的是供货商的账号",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "订单编号",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "found_begin_time",
                        "in": "query",
                        "description": "订单创建时间-开始",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "found_end_time",
                        "in": "query",
                        "description": "订单创建时间-结束，通过found_begin_time和found_end_time查询一段时间内的订单",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cur_page",
                        "in": "query",
                        "description": "当前页数，如果不填写，默认为第1页。每页默认10条",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "order_status",
                        "in": "query",
                        "description": "订单状态：1  已取消：取消订单(回退销量)  \n3  待发货：已付款，未发货  \n4  已发货：已付款，已发货  \n5  已完成：为已完成状态 \n6  退款中\n7  退款完成",
                        "required": false,
                        "type": "number"
                    }
                ],
                "tags": [
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "description": "返回码"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "orders": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/SupplierOrder"
                                            }
                                        },
                                        "page_info": {
                                            "$ref": "#/definitions/PageInfo"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "page_info": {
                                        "max_page": 1,
                                        "total_count": 1,
                                        "cur_page": 1
                                    },
                                    "orders": [
                                        {
                                            "postage": 10,
                                            "payment_time": "2016-10-08 16:47:09",
                                            "buyer_name": "",
                                            "express_company_name": "",
                                            "order_id": "001^12s",
                                            "created_at": "2016-10-08 16:47:09",
                                            "pay_mode": 2,
                                            "ship_name": "bill",
                                            "ship_address": "北京市 北京市 海淀区泰兴大厦",
                                            "products": [
                                                {
                                                    "count": 1,
                                                    "total_price": 50,
                                                    "product_id": 485,
                                                    "price": 50,
                                                    "model_names": [],
                                                    "name": "商品2"
                                                }
                                            ],
                                            "final_price": "60.00",
                                            "ship_tel": "13811223344",
                                            "order_status": 3,
                                            "invoice_title": "",
                                            "customer_message": "",
                                            "express_number": ""
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/delivery/": {
            "put": {
                "summary": "发货接口",
                "description": "发货接口：目前针对的是供货商的账号",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "订单编号",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "express_company_name",
                        "in": "query",
                        "description": "快递公司名称",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "express_number",
                        "in": "query",
                        "description": "快递号",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "errcode": {
                                            "type": "number",
                                            "description": "错误编码, 0代表成功"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "errcode": 0
                                }
                            }
                        }
                    }
                }
            }
        },
    },

    "definitions": {
        "AccessToken": {
            "type": "object",
            "required": [
                "access_token",
                "expires_in"
            ],
            "properties": {
                "access_token": {
                    "type": "string",
                    "description": "api 接口访问凭证"
                },
                "expires_in": {
                    "type": "string",
                    "description": "access_token有效时间"
                }
            }
        },
        "Product": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "响应码"
                },
                "errMsg": {
                    "type": "string"
                },
                "innerErrMsg": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "properties": {
                          "name": {
                              "type": "string",
                              "description": "商品名称"
                           },
                          "id": {
                              "type": "string",
                              "description": "商品ID"
                          },
                          "is_delivery": {
                              "type": "string",
                              "description": "是否勾选配送时间,如：true或false"
                          },
                          "sales": {
                              "type": "string",
                              "description": "商品销量"
                          },
                          "limit_zone_type": {
                              "type": "string",
                              "description": "商品限售区域类型"
                          },
                          "created_at": {
                              "type": "string",
                              "description": "商品创建时间"
                          },
                          "is_use_cod_pay_interface": {
                              "type": "boolean",
                              "description": "是否货到付款,如：true或false"
                           },
                          "limit_zone_detail":{
                              "type": "object",
                              "description": "限制发货区域详细信息",
                              "properties": {
                                  "cities": {
                                      "type": "object",
                                      "description": "城市信息",
                                      "properties": {
                                          "cityId": {
                                              "type": "object",
                                              "description": "城市ID"
                                          },
                                          "cityName": {
                                              "type": "string",
                                              "description": "城市名称"
                                          }
                                       }
                                  },
                                  "provinceId": {
                                      "type": "string",
                                      "description": "省份ID"
                                  },
                                  "zoneName":{
                                      "type": "string",
                                      "description": "区域名称，如：华东地区"
                                  },
                                  "provinceName": {
                                      "type": "string",
                                      "description": "省份名称，如：山东省"
                                  }
                               }
                          },
                          "swipe_images": {
                              "type": "object",
                              "description": "轮播图",
                              "properties": {
                                  "url": {
                                      "type": "string",
                                      "description": "图片请求地址"
                                  },
                                  "width": {
                                      "type": "string",
                                      "description": "图片宽度"
                                  },
                                  "linkUrl":{
                                      "type": "string",
                                      "description": "图片关联的地址"
                                  },
                                  "id": {
                                      "type": "string",
                                      "description": "图片ID"
                                  },
                                  "height": {
                                      "type": "string",
                                      "description": "图片高度"
                                  }
                               }
                          },
                          "price_info": {
                              "type": "object",
                              "description": "商品价格信息",
                              "properties": {
                                  "display_original_price": {
                                      "type": "string",
                                      "description": "原价"
                                  },
                                  "display_price": {
                                      "type": "string",
                                      "description": "售价"
                                  },
                                  "max_price": {
                                      "type": "string",
                                      "description": "最高价"
                                  },
                                  "min_price": {
                                      "type": "string",
                                      "description": "最低价度"
                                  }
                               }
                          },
                          "supplier_postage_config": {
                              "type": "string",
                              "description": "供货商邮费配置"
                           },
                          "postage_type": {
                              "type": "string",
                              "description": "运费类型"
                          },
                          "total_stocks": {
                              "type": "string",
                              "description": "总库存数"
                          },
                          "supplier": {
                              "type": "string",
                              "description": "供货商ID"
                          },
                          "thumbnails_url": {
                              "type": "string",
                              "description": "缩略图"
                          },
                          "order_thumbnails_url": {
                              "type": "string",
                              "description": "订单列表lvsuotu"
                          },
                          "pic_url": {
                              "type": "string",
                              "description": "封面"
                          },
                          "is_sellout": {
                              "type": "boolean",
                              "description": "是否售光,如：true或false"
                          },
                          "min_limit":{
                              "type": "string",
                              "description": "最大数量"
                          },
                          "detail": {
                              "type": "string",
                              "description": "商品详情"
                          },
                          "limit_zone": {
                              "type": "string",
                              "description": "商品限制区域"
                          },
                          "is_enable_bill": {
                              "type": "number",
                              "description": "是否开具发票,如：true或false"
                          },
                          "is_use_custom_model": {
                              "type": "boolean",
                              "description": "是否为通用规格,如：true或false"
                          },
                          "models": {
                              "type":"object",
                               "properties": {
                                 "product_id":{
                                      "type": "string",
                                      "description": "商品ID"  
                                  },
                                 "original_price":{
                                      "type": "number",
                                      "description": "商品原价"  
                                  },
                                  "is_deleted":{
                                      "type": "boolean",
                                      "description": "是否删除"  
                                  },
                                  "name":{
                                      "type": "string",
                                      "description": "规格id组装字符串，如果商品无规格该值：standard" 
                                  },
                                  "weight":{
                                      "type": "number",
                                      "description": "重量"  
                                  },
                                  "price":{
                                      "type": "string",
                                      "description": "售价"  
                                  },
                                  "id":{
                                      "type": "number",
                                      "description": "id"  
                                  },
                                  "stock_type":{
                                      "type": "number",
                                      "description": "库存类型0:无限 1:有限"  
                                  },
                                  "stocks":{
                                      "type": "number",
                                      "description": "库存"
                                  },
                                  "property2value":{
                                      "type": "object",
                                      "properties":{
                                          "property_name": {
                                              "type":"object",
                                              "description":"规格名称，如尺寸、颜色",
                                              "properties": {
                                                    "id": {
                                                        "type":"number"
                                                      },
                                                    "name":{
                                                        "type":"string",
                                                        "description": "规格详细名称如果：尺寸下的M，L，S"  
                                                      }
                                              }
                                          }
                                      }
                                  },
                                 "property_values": {
                                      "type": "object",
                                      "properties":{
                                          "id": {
                                              "type":"number",
                                              "description": "规格id"
                                            },
                                          "name":{
                                              "type":"string",
                                              "description": "尺寸下的M，L，S"  
                                            },
                                          "propertyName":{
                                              "type":"string",
                                              "description": "如尺寸"  
                                            },
                                          "image":{
                                              "type":"string",
                                              "description": "图片"  
                                            },
                                          "propertyId":{
                                              "type":"string",
                                              "description": "规格属性ID"  
                                            }
                                      }
                                   
                                  }
                               }
                          }
                    }
                  }
              }
        },
        "Products":{
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "innerErrMsg": {
                    "type": "string"
                },
                "errMsg": {
                    "type": "string"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "items": {
                            "type": "object",
                            "description": "商品列表", 
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "商品名称"
                                },
                                "thumbnails_url": {
                                    "type": "string",
                                    "description": "商品缩略图的url地址"
                                },
                                "display_price": {
                                    "type": "number",
                                    "description": "商品总库存"
                                },
                                "id": {
                                    "type": "string",
                                    "description": "商品ID"
                                },
                                "sales": {
                                    "type": "number",
                                    "description": "商品销量"
                                },
                                "supplier": {
                                    "type": "string",
                                    "description": "供货商ID"
                                }
                            }
                        }
                    }
                }
            }
        },
        "Order": {
            "type": "object",
            "properties": {
                "order_id": {
                    "type": "string",
                    "description": "订单编号."
                },
                "final_price": {
                    "type": "string",
                    "description": "订单金额（实付金额RMB）."
                },
                "order_status": {
                    "type": "string",
                    "description": "订单状态"
                },
                "product_count": {
                    "type": "string",
                    "description": "购买商品数量"
                },
                "created_at": {
                    "type": "string",
                    "description": "订单创建时间"
                },
                "products": {
                    "items": {
                        "$ref": "#/definitions/OrderProduct"
                    }
                }
            }
        },
        "OrderDetail": {
            "type": "object",
            "properties": {
                "order_id": {
                    "type": "string",
                    "description": "订单编号."
                },
                "final_price": {
                    "type": "string",
                    "description": "订单金额（实付金额RMB）."
                },
                "ship_name": {
                    "type": "string",
                    "description": "收货人"
                },
                "ship_address": {
                    "type": "string",
                    "description": "收获地址"
                },
                "ship_tel": {
                    "type": "string",
                    "description": "收获电话"
                },
                "order_status": {
                    "type": "string",
                    "description": "订单状态"
                },
                "created_at": {
                    "type": "string",
                    "description": "订单创建时间"
                },
                "sub_orders": {
                    "items": {
                        "$ref": "#/definitions/SubOrders"
                    }
                },
                "products": {
                    "items": {
                        "$ref": "#/definitions/SubOrderProduct"
                    }
                }
            }
        },
        "SubOrders": {
            "type": "object",
            "properties": {
                "order_id": {
                    "description": "订单编号",
                    "type": "string"
                },
                "order_status": {
                    "description": "订单状态",
                    "type": "number"
                },
                "product_model_name": {
                    "description": "商品规格名称",
                    "type": "string"
                },
                "product_count": {
                    "description": "商品数量",
                    "type": "number"
                },
                "express_company_name": {
                    "type": "string",
                    "description": "快递名称"
                },
                "express_number": {
                    "type": "string",
                    "description": "快递号"
                },
                "postage": {
                    "type": "string",
                    "description": "邮费"
                },
                "products": {
                    "items": {
                        "$ref": "#/definitions/SubOrderProduct"
                    }
                }
            }
        },
        "SubOrderProduct": {
            "type": "object",
            "properties": {
                "product_id": {
                    "description": "商品id",
                    "type": "number"
                },
                "product_name": {
                    "description": "商品名称",
                    "type": "string"
                },
                "price": {
                    "description": "商品价格",
                    "type": "string"
                },
                "product_model_name": {
                    "description": "商品规格名称",
                    "type": "string"
                },
                "product_count": {
                    "description": "商品数量",
                    "type": "number"
                },
                "pic_url": {
                    "description": "商品图片",
                    "type": "string"
                }
            }
        },
        "PutOrderProduct": {
            "type": "object",
            "properties": {
                "product_id": {
                    "description": "商品id",
                    "type": "number"
                },
                "product_model_name": {
                    "description": "商品规格名称",
                    "type": "string"
                },
                "product_count": {
                    "description": "商品数量",
                    "type": "number"
                }
            }
        },
        "OrderProduct": {
            "type": "object",
            "properties": {
                "product_id": {
                    "description": "商品id",
                    "type": "number"
                },
                "product_name": {
                    "description": "商品名称",
                    "type": "string"
                },
                "price": {
                    "description": "商品价格",
                    "type": "string"
                },
                "product_model_name": {
                    "description": "商品规格名称",
                    "type": "string"
                },
                "product_count": {
                    "description": "商品数量",
                    "type": "number"
                },
                "pic_url": {
                    "description": "商品图片",
                    "type": "string"
                }
            }
        },
        "Express": {
            "type": "object",
            "properties": {
                "order_id": {
                    "description": "订单编号",
                    "type": "string"
                },
                "status": {
                    "description": "订单状态(已发货、已完成)",
                    "type": "string"
                },
                "express_company_name": {
                    "description": "快递公司",
                    "type": "string"
                },
                "express_number": {
                    "description": "快递单号",
                    "type": "string"
                },
                "express_details": {
                    "items": {
                        "$ref": "#/definitions/ExpressDetail"
                    }
                }
            }
        },
        "ExpressDetail": {
            "type": "object",
            "properties": {
                "time": {
                    "description": "物流时间",
                    "type": "string"
                },
                "display_index": {
                    "description": "排序(该条物流在物流详情中的排序)",
                    "type": "number"
                },
                "context": {
                    "description": "该条物流详情描述",
                    "type": "string"
                }
            }
        },
        "PageInfo": {
            "type": "object",
            "properties": {
                "max_page": {
                    "description": "最大页数",
                    "type": "number"
                },
                "cur_page": {
                    "description": "当前页数",
                    "type": "number"
                },
                "total_count": {
                    "description": "订单总数",
                    "type": "number"
                }
            }
        },
        "SupplierOrder": {
            "type": "object",
            "properties": {
                "order_id": {
                    "description": "订单编号",
                    "type": "string"
                },
                "order_status": {
                    "description": "订单状态",
                    "type": "number"
                },
                "created_at": {
                    "type": "string",
                    "description": "订单创建时间"
                },
                "buyer_name": {
                    "type": "string",
                    "description": "购买人"
                },
                "ship_name": {
                    "type": "string",
                    "description": "收货人"
                },
                "ship_address": {
                    "type": "string",
                    "description": "收货人地址"
                },
                "ship_tel": {
                    "type": "string",
                    "description": "收货人电话"
                },
                "express_company_name": {
                    "type": "string",
                    "description": "快递名称"
                },
                "express_number": {
                    "type": "string",
                    "description": "快递号"
                },
                "postage": {
                    "type": "string",
                    "description": "邮费"
                },
                "customer_message": {
                    "type": "string",
                    "description": "客户留言"
                },
                "invoice_title": {
                    "type": "string",
                    "description": "发票抬头"
                },
                "payment_time": {
                    "type": "string",
                    "description": "支付时间"
                },
                "final_price": {
                    "type": "string",
                    "description": "订单金额（实付金额RMB）"
                },
                "pay_mode": {
                    "type": "number",
                    "description": "支付方式:0 微信支付,1 支付宝支付, 2 货到付款, 3 优惠抵扣"
                },
                "products": {
                    "items": {
                        "$ref": "#/definitions/SupplierOrderProduct"
                    }
                }
            }
        },
        "SupplierOrderProduct": {
            "type": "object",
            "properties": {
                "product_id": {
                    "description": "商品id",
                    "type": "number"
                },
                "name": {
                    "description": "商品名称",
                    "type": "string"
                },
                "price": {
                    "description": "商品价格",
                    "type": "string"
                },
                "count": {
                    "description": "商品数量",
                    "type": "number"
                },
                "total_price": {
                    "description": "商品总价：商品的单价乘以数量",
                    "type": "string"
                },
                "model_names": {
                    "description": "商品规格名称",
                    "type": "string"
                }
            }
        },
    },
    "externalDocs": {
        "description": "授权API描述文档",
        "url": "http://swagger.io"
    }
}