{
    "swagger": "2.0",
    "info": {
        "description": "开放平台api文档",
        "version": "1.0.0",
        "title": "开放平台api文档",
        "contact": {
            "email": "guoyucheng@weizoom.com"
        }
    },
    "host": "openapi.weizom.com",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/oauth/access_token/": {
            "get": {
                "tags": [
                    "auth"
                ],
                "summary": "根据appid和secret获取AccessToken",
                "description": "根据appid和secret获取AccessToken",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "appid",
                        "type": "string",
                        "description": "APP ID",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "secret",
                        "type": "string",
                        "description": "secret",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "schema": {
                            "$ref": "#/definitions/AccessToken"
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "access_token": "UKywoSQIL6t4divvUtAPojk7wz0dNN1tRJFbnNTxbHApwI8wz1P5wGvt5j8f5ij04n7QKUDB2z81pA9YtQIjuiEvsA==",
                                    "expires_in": ""
                                }
                            }
                        }
                    }
                }
            }
        },
    },
    "definitions": {
        "AccessToken": {
            "type": "object",
            "required": [
                "access_token",
                "expires_in"
            ],
            "properties": {
                "access_token": {
                    "type": "string",
                    "description": "api 接口访问凭证"
                },
                "expires_in": {
                    "type": "string",
                    "description": "access_token有效时间"
                }
            }
        }
    },
    "externalDocs": {
        "description": "授权API描述文档",
        "url": "http://swagger.io"
    }
}