{
    "swagger": "2.0",
    "info": {
        "description": "开放平台api文档",
        "version": "1.0.0",
        "title": "开放平台api文档",
        "contact": {
            "email": "guoyucheng@weizoom.com"
        }
    },
    "host": "openapi.weizom.com",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/oauth/access_token/": {
            "get": {
                "tags": [
                    "auth"
                ],
                "summary": "根据appid和secret获取AccessToken",
                "description": "根据appid和secret获取AccessToken",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "appid",
                        "type": "string",
                        "description": "APP ID",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "secret",
                        "type": "string",
                        "description": "secret",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "schema": {
                            "$ref": "#/definitions/AccessToken"
                        },
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "access_token": "UKywoSQIL6t4divvUtAPojk7wz0dNN1tRJFbnNTxbHApwI8wz1P5wGvt5j8f5ij04n7QKUDB2z81pA9YtQIjuiEvsA==",
                                    "expires_in": ""
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/product/": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "获取商品详情",
                "description": "获取商品详情",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "type": "string",
                        "description": "access_token",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                   "$ref": "#/definitions/Product"
                                  }
                            }
                        }
                    }
                }
            }
        }
    },

    "definitions": {
        "AccessToken": {
            "type": "object",
            "required": [
                "access_token",
                "expires_in"
            ],
            "properties": {
                "access_token": {
                    "type": "string",
                    "description": "api 接口访问凭证"
                },
                "expires_in": {
                    "type": "string",
                    "description": "access_token有效时间"
                }
            }
        },
        "Product": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "number",
                    "description": "数据库生成的商品ID"
                },
                "owner_id": {
                    "type": "number",
                    "description": "ownerid"
                },
                "name": {
                    "type": "string"
                },
                "is_deleted": {
                    "type": "boolean",
                    "description": "是否删除"
                },
                "thumbnails_url": {
                    "type": "string",
                    "description": "索lvtu"
                },
                "order_thumbnails_url": {
                    "type": "string",
                    "description": "订单列表lvsuotu"
                },
                "pic_url": {
                    "type": "string",
                    "description": "封面"
                },
                "is_sellout": {
                    "type": "boolean",
                    "description": "是否售光"
                },
                "postage_type":{
                    "type": "string",
                    "description": "unified_postage_type"
                },
                "detail": {
                    "type": "string",
                    "description": "商品详情"
                },
                "remark": {
                    "type": "string"
                },
                "postage_id": {
                    "type": "number"
                },
                "is_enable_bill": {
                    "type": "number"
                },
                "sku": {
                    "type":"object",
                     "properties": {
                        "is_deleted":{
                            "type": "boolean",
                            "description": "是否删除"  
                        },
                        "name":{
                            "type": "string",
                            "description": "规格id组装字符串，如果商品无规格该值：starand"  
                        },
                        "weight":{
                            "type": "number",
                            "description": "重量"  
                        },
                        "price":{
                            "type": "string",
                            "description": "售价"  
                        },
                        "id":{
                            "type": "number",
                            "description": "id"  
                        },
                        "stock_type":{
                            "type": "number",
                            "description": "库存类型0:无限 1:有限"  
                        },
                        "stocks":{
                            "type": "number",
                            "description": "库存"
                        },
                        "property2value":{
                            "type": "object",
                            "properties":{
                                "property_name": {
                                    "type":"object",
                                    "description":"规格名称",
                                    "properties": {
                                          "id": {
                                              "type":"number"
                                            },
                                          "name":{
                                              "type":"string",
                                              "description": "规格详细名称如果：尺寸下的M，L，S"  
                                            }
                                    }
                                }
                            }
                        },
                       "property_values": {
                            "type": "object",
                            "properties":{
                                "id": {
                                    "type":"number",
                                    "description": "规格id"
                                  },
                                "name":{
                                    "type":"string",
                                    "description": "尺寸下的M，L，S"  
                                  },
                                "propertyName":{
                                    "type":"string",
                                    "description": "如尺寸"  
                                  },
                                "image":{
                                    "type":"string",
                                    "description": "图片"  
                                  }
                            }
                         
                        }
                     }
                }
            }
        },
    },
    "externalDocs": {
        "description": "授权API描述文档",
        "url": "http://swagger.io"
    }
}