{
    "swagger": "2.0",
    "info": {
        "description": "开放平台api文档",
        "version": "1.0.0",
        "title": "开放平台api文档",
        "contact": {
            "email": "guoyucheng@weizoom.com"
        }
    },
    "host": "openapi.weizom.com",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/oauth/access_token/": {
            "get": {
                "tags": [
                    "auth"
                ],
                "summary": "根据appid和secret获取AccessToken",
                "description": "根据appid和secret获取AccessToken",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "appid",
                        "type": "string",
                        "description": "APP ID",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "secret",
                        "type": "string",
                        "description": "secret",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "access_token": "UKywoSQIL6t4divvUtAPojk7wz0dNN1tRJFbnNTxbHApwI8wz1P5wGvt5j8f5ij04n7QKUDB2z81pA9YtQIjuiEvsA==",
                                    "expires_in": ""
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/product/": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "获取商品详情",
                "description": "获取商品详情",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "type": "string",
                        "description": "access_token",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                                "is_use_cod_pay_interface": true,
                                                "limit_zone_type": 0, #仅售或禁售
                                                "thumbnails_url": "http://dev.weapp.com/standard_static/test_resource_img/yu3.jpg",
                                                "order_thumbnails_url": "http://dev.weapp.com/standard_static/test_resource_img/yu3.jpg",
                                                "swipe_images": [
                                                  {
                                                    "url": "http://dev.weapp.com/standard_static/test_resource_img/yu3.jpg",
                                                    "width": 100,
                                                    "linkUrl": "",
                                                    "id": 96,
                                                    "height": 100
                                                  }
                                                ],
                                                "pic_url": "http://dev.weapp.com/standard_static/test_resource_img/yu3.jpg",
                                                "is_sellout": false, #是否卖光
                                                "supplier_postage_config": {},
                                                "postage_type": "unified_postage_type",
                                                
                                                "is_delivery": false, #是否配送
                                                "detail": "松鼠桂鱼的详情",
                                                "id": 67,
                                                "unified_postage_money": 0,#统一运费模版
                                                "min_limit": 0,#起购数
                                                "type": "object",
                                                "owner_id": 191,
                                                "sku": [   
                                                  {
                                                    "original_price": 1,
                                                    "is_deleted": false,
                                                    "name": "1:1_2:4_3:7",
                                                    "weight": 1,
                                                    "price": 1,
                                                    "market_price": 0,
                                                    "id": 111,
                                                    "user_code": "",
                                                    "stock_type": 0,#库存类型# 0:无限 1:有限
                                                    "property2value": { #规格信息
                                                      "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                      },
                                                      "颜色": {
                                                        "id": 1,
                                                        "name": "红色"
                                                      },
                                                      "尺寸": {
                                                        "id": 4,
                                                        "name": "M"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "红色",
                                                        "propertyName": "颜色",
                                                        "id": 1,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "M",
                                                        "propertyName": "尺寸",
                                                        "id": 4,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "1",
                                                        "propertyName": "类型",
                                                        "id": 7,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 2,
                                                    "is_deleted": false,
                                                    "name": "1:2_2:4_3:7",
                                                    "weight": 1,
                                                    "price": 2,
                                                    "market_price": 0,
                                                    "id": 112,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                      },
                                                      "颜色": {
                                                        "id": 2,
                                                        "name": "黄色"
                                                      },
                                                      "尺寸": {
                                                        "id": 4,
                                                        "name": "M"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "黄色",
                                                        "propertyName": "颜色",
                                                        "id": 2,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "M",
                                                        "propertyName": "尺寸",
                                                        "id": 4,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "1",
                                                        "propertyName": "类型",
                                                        "id": 7,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 3,
                                                    "is_deleted": false,
                                                    "name": "1:3_2:4_3:7",
                                                    "weight": 1,
                                                    "price": 3,
                                                    "id": 113,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                      },
                                                      "颜色": {
                                                        "id": 3,
                                                        "name": "蓝色"
                                                      },
                                                      "尺寸": {
                                                        "id": 4,
                                                        "name": "M"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "蓝色",
                                                        "propertyName": "颜色",
                                                        "id": 3,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "M",
                                                        "propertyName": "尺寸",
                                                        "id": 4,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "1",
                                                        "propertyName": "类型",
                                                        "id": 7,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 4,
                                                    "is_deleted": false,
                                                    "name": "1:1_2:5_3:7",
                                                    "weight": 1,
                                                    "price": 4,
                                                    "market_price": 0,
                                                    "id": 114,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                      },
                                                      "颜色": {
                                                        "id": 1,
                                                        "name": "红色"
                                                      },
                                                      "尺寸": {
                                                        "id": 5,
                                                        "name": "S"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "红色",
                                                        "propertyName": "颜色",
                                                        "id": 1,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "S",
                                                        "propertyName": "尺寸",
                                                        "id": 5,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "1",
                                                        "propertyName": "类型",
                                                        "id": 7,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 5,
                                                    "is_deleted": false,
                                                    "name": "1:2_2:5_3:7",
                                                    "weight": 1,
                                                    "price": 5,
                                                    "market_price": 0,
                                                    "id": 115,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                      },
                                                      "颜色": {
                                                        "id": 2,
                                                        "name": "黄色"
                                                      },
                                                      "尺寸": {
                                                        "id": 5,
                                                        "name": "S"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "黄色",
                                                        "propertyName": "颜色",
                                                        "id": 2,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "S",
                                                        "propertyName": "尺寸",
                                                        "id": 5,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "1",
                                                        "propertyName": "类型",
                                                        "id": 7,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 6,
                                                    "is_deleted": false,
                                                    "name": "1:3_2:5_3:7",
                                                    "weight": 1,
                                                    "price": 6,
                                                    "market_price": 0,
                                                    "id": 116,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                      },
                                                      "颜色": {
                                                        "id": 3,
                                                        "name": "蓝色"
                                                      },
                                                      "尺寸": {
                                                        "id": 5,
                                                        "name": "S"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "蓝色",
                                                        "propertyName": "颜色",
                                                        "id": 3,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "S",
                                                        "propertyName": "尺寸",
                                                        "id": 5,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "1",
                                                        "propertyName": "类型",
                                                        "id": 7,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 7,
                                                    "is_deleted": false,
                                                    "name": "1:1_2:6_3:7",
                                                    "weight": 1,
                                                    "price": 7,
                                                    "market_price": 0,
                                                    "id": 117,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                      },
                                                      "颜色": {
                                                        "id": 1,
                                                        "name": "红色"
                                                      },
                                                      "尺寸": {
                                                        "id": 6,
                                                        "name": "L"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "红色",
                                                        "propertyName": "颜色",
                                                        "id": 1,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "L",
                                                        "propertyName": "尺寸",
                                                        "id": 6,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "1",
                                                        "propertyName": "类型",
                                                        "id": 7,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "purchase_price": 0,
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 8,
                                                    "is_deleted": false,
                                                    "name": "1:2_2:6_3:7",
                                                    "weight": 1,
                                                    "price": 8,
                                                    "market_price": 0,
                                                    "id": 118,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                      },
                                                      "颜色": {
                                                        "id": 2,
                                                        "name": "黄色"
                                                      },
                                                      "尺寸": {
                                                        "id": 6,
                                                        "name": "L"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "黄色",
                                                        "propertyName": "颜色",
                                                        "id": 2,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "L",
                                                        "propertyName": "尺寸",
                                                        "id": 6,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "1",
                                                        "propertyName": "类型",
                                                        "id": 7,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 9,
                                                    "is_deleted": false,
                                                    "name": "1:3_2:6_3:7",
                                                    "weight": 1,
                                                    "price": 9,
                                                    "market_price": 0,
                                                    "id": 119,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 7,
                                                        "name": "1"
                                                      },
                                                      "颜色": {
                                                        "id": 3,
                                                        "name": "蓝色"
                                                      },
                                                      "尺寸": {
                                                        "id": 6,
                                                        "name": "L"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "蓝色",
                                                        "propertyName": "颜色",
                                                        "id": 3,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "L",
                                                        "propertyName": "尺寸",
                                                        "id": 6,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "1",
                                                        "propertyName": "类型",
                                                        "id": 7,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 10,
                                                    "is_deleted": false,
                                                    "name": "1:1_2:4_3:8",
                                                    "weight": 1,
                                                    "price": 10,
                                                    "market_price": 0,
                                                    "id": 120,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                      },
                                                      "颜色": {
                                                        "id": 1,
                                                        "name": "红色"
                                                      },
                                                      "尺寸": {
                                                        "id": 4,
                                                        "name": "M"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "红色",
                                                        "propertyName": "颜色",
                                                        "id": 1,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "M",
                                                        "propertyName": "尺寸",
                                                        "id": 4,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "3",
                                                        "propertyName": "类型",
                                                        "id": 8,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 11,
                                                    "is_deleted": false,
                                                    "name": "1:2_2:4_3:8",
                                                    "weight": 1,
                                                    "price": 11,
                                                    "market_price": 0,
                                                    "id": 121,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                      },
                                                      "颜色": {
                                                        "id": 2,
                                                        "name": "黄色"
                                                      },
                                                      "尺寸": {
                                                        "id": 4,
                                                        "name": "M"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "黄色",
                                                        "propertyName": "颜色",
                                                        "id": 2,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "M",
                                                        "propertyName": "尺寸",
                                                        "id": 4,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "3",
                                                        "propertyName": "类型",
                                                        "id": 8,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 12,
                                                    "is_deleted": false,
                                                    "name": "1:3_2:4_3:8",
                                                    "weight": 1,
                                                    "price": 12,
                                                    "market_price": 0,
                                                    "id": 122,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                      },
                                                      "颜色": {
                                                        "id": 3,
                                                        "name": "蓝色"
                                                      },
                                                      "尺寸": {
                                                        "id": 4,
                                                        "name": "M"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "蓝色",
                                                        "propertyName": "颜色",
                                                        "id": 3,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "M",
                                                        "propertyName": "尺寸",
                                                        "id": 4,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "3",
                                                        "propertyName": "类型",
                                                        "id": 8,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 13,
                                                    "is_deleted": false,
                                                    "name": "1:1_2:5_3:8",
                                                    "weight": 1,
                                                    "price": 13,
                                                    "market_price": 0,
                                                    "id": 123,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                      },
                                                      "颜色": {
                                                        "id": 1,
                                                        "name": "红色"
                                                      },
                                                      "尺寸": {
                                                        "id": 5,
                                                        "name": "S"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "红色",
                                                        "propertyName": "颜色",
                                                        "id": 1,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "S",
                                                        "propertyName": "尺寸",
                                                        "id": 5,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "3",
                                                        "propertyName": "类型",
                                                        "id": 8,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 14,
                                                    "is_deleted": false,
                                                    "name": "1:2_2:5_3:8",
                                                    "weight": 1,
                                                    "price": 14,
                                                    "market_price": 0,
                                                    "id": 124,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                      },
                                                      "颜色": {
                                                        "id": 2,
                                                        "name": "黄色"
                                                      },
                                                      "尺寸": {
                                                        "id": 5,
                                                        "name": "S"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "黄色",
                                                        "propertyName": "颜色",
                                                        "id": 2,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "S",
                                                        "propertyName": "尺寸",
                                                        "id": 5,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "3",
                                                        "propertyName": "类型",
                                                        "id": 8,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 15,
                                                    "is_deleted": false,
                                                    "name": "1:3_2:5_3:8",
                                                    "weight": 1,
                                                    "price": 15,
                                                    "market_price": 0,
                                                    "id": 125,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                      },
                                                      "颜色": {
                                                        "id": 3,
                                                        "name": "蓝色"
                                                      },
                                                      "尺寸": {
                                                        "id": 5,
                                                        "name": "S"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "蓝色",
                                                        "propertyName": "颜色",
                                                        "id": 3,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "S",
                                                        "propertyName": "尺寸",
                                                        "id": 5,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "3",
                                                        "propertyName": "类型",
                                                        "id": 8,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "purchase_price": 0,
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 16,
                                                    "is_deleted": false,
                                                    "name": "1:1_2:6_3:8",
                                                    "weight": 1,
                                                    "price": 16,
                                                    "market_price": 0,
                                                    "id": 126,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                      },
                                                      "颜色": {
                                                        "id": 1,
                                                        "name": "红色"
                                                      },
                                                      "尺寸": {
                                                        "id": 6,
                                                        "name": "L"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "红色",
                                                        "propertyName": "颜色",
                                                        "id": 1,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "L",
                                                        "propertyName": "尺寸",
                                                        "id": 6,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "3",
                                                        "propertyName": "类型",
                                                        "id": 8,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 17,
                                                    "is_deleted": false,
                                                    "name": "1:2_2:6_3:8",
                                                    "weight": 1,
                                                    "price": 17,
                                                    "market_price": 0,
                                                    "id": 127,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                      },
                                                      "颜色": {
                                                        "id": 2,
                                                        "name": "黄色"
                                                      },
                                                      "尺寸": {
                                                        "id": 6,
                                                        "name": "L"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "黄色",
                                                        "propertyName": "颜色",
                                                        "id": 2,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "L",
                                                        "propertyName": "尺寸",
                                                        "id": 6,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "3",
                                                        "propertyName": "类型",
                                                        "id": 8,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "purchase_price": 0,
                                                    "product_id": 67
                                                  },
                                                  {
                                                    "original_price": 18,
                                                    "is_deleted": false,
                                                    "name": "1:3_2:6_3:8",
                                                    "weight": 1,
                                                    "price": 18,
                                                    "market_price": 0,
                                                    "id": 128,
                                                    "user_code": "",
                                                    "stock_type": 0,
                                                    "property2value": {
                                                      "类型": {
                                                        "id": 8,
                                                        "name": "3"
                                                      },
                                                      "颜色": {
                                                        "id": 3,
                                                        "name": "蓝色"
                                                      },
                                                      "尺寸": {
                                                        "id": 6,
                                                        "name": "L"
                                                      }
                                                    },
                                                    "property_values": [
                                                      {
                                                        "name": "蓝色",
                                                        "propertyName": "颜色",
                                                        "id": 3,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "L",
                                                        "propertyName": "尺寸",
                                                        "id": 6,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "3",
                                                        "propertyName": "类型",
                                                        "id": 8,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "stocks": "无限",
                                                    "product_id": 67
                                                  }
                                                ],
                                                "used_system_model_properties": [
                                                  {
                                                    "type": "product_model_property",
                                                    "values": [
                                                      {
                                                        "name": "红色",
                                                        "propertyName": "颜色",
                                                        "id": 1,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "黄色",
                                                        "propertyName": "颜色",
                                                        "id": 2,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                        "propertyId": 1
                                                      },
                                                      {
                                                        "name": "蓝色",
                                                        "propertyName": "颜色",
                                                        "id": 3,
                                                        "type": "product_model_property_value",
                                                        "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                        "propertyId": 1
                                                      }
                                                    ],
                                                    "id": 1,
                                                    "name": "颜色"
                                                  },
                                                  {
                                                    "type": "product_model_property",
                                                    "values": [
                                                      {
                                                        "name": "M",
                                                        "propertyName": "尺寸",
                                                        "id": 4,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "S",
                                                        "propertyName": "尺寸",
                                                        "id": 5,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      },
                                                      {
                                                        "name": "L",
                                                        "propertyName": "尺寸",
                                                        "id": 6,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 2
                                                      }
                                                    ],
                                                    "id": 2,
                                                    "name": "尺寸"
                                                  },
                                                  {
                                                    "type": "product_model_property",
                                                    "values": [
                                                      {
                                                        "name": "1",
                                                        "propertyName": "类型",
                                                        "id": 7,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      },
                                                      {
                                                        "name": "3",
                                                        "propertyName": "类型",
                                                        "id": 8,
                                                        "type": "product_model_property_value",
                                                        "image": "",
                                                        "propertyId": 3
                                                      }
                                                    ],
                                                    "id": 3,
                                                    "name": "类型"
                                                  }
                                                ],
                                               
                                                "is_deleted": false,
                                                "categories": null,
                                                "is_enable_bill": false, #是否可以开发票
                                                "name": "松鼠桂鱼",
                                                "limit_zone": 0, #仅售区域 与limit_zone_type 结合使用
                                                "created_at": "2016-09-09 15:00",
                                                "price_info": {
                                                  "display_original_price": 1,
                                                  "display_price": 1,
                                                  "max_price": 18,
                                                  "min_price": 1
                                                },
                                              }
                            }
                        }
                    }
                }
            }
        },
        "mall/order/":{
            "get":{
                "summary":"获取订单详情接口",
                "description":"获取订单详情接口",
                "parameters":[
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string",
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "订单编号",
                        "required": true,
                        "type": "string",
                    }
                ],
                "tags":[
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "description": "信息描述"
                                        },
                                        "order": {
                                            "type": "object",
                                            "$ref": "#/definitions/OrderDetail"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "true or false"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "put":{
                "summary":"创建订单接口",
                "description":"创建订单接口",
                "parameters":[
                    {
                        "name": "access_token",
                        "in": "body",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string",
                    },
                    {
                        "name": "deal_id",
                        "in": "body",
                        "description": "交易流水号",
                        "required": true,
                        "type": "string",
                    },
                    {
                        "name": "deal_price",
                        "in": "body",
                        "description": "交易总金额",
                        "required": true,
                        "type": "string",
                    },
                    {
                        "name": "apply_stock_id",
                        "in": "body",
                        "description": "申请库存资源的id",
                        "required": true,
                        "type": "number",
                    },
                    {
                        "name": "ship_name",
                        "in": "body",
                        "description": "收货人姓名",
                        "required": true,
                        "type": "string",
                    },
                    {
                        "name": "ship_tel",
                        "in": "body",
                        "description": "收货人电话",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ship_address",
                        "in": "body",
                        "description": "收货人地址",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "products",
                        "in": "body",
                        "description": "商品集合",
                        "required": true,
                        "type": "json",
                        "schema":{
                            "description": "商品集合",
                            "type":"object",
                            "properties": {
                                "type":"array",
                                "items":{
                                    "properties": {
                                        "product_id":{
                                            "description": "商品id",
                                            "required": true,
                                            "type": "number"
                                        },
                                        "product_model_id":{
                                            "description": "商品规格id",
                                            "required": true,
                                            "type": "number"
                                        },
                                        "product_name":{
                                            "description": "商品名称",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "product_count":{
                                            "description": "商品数量",
                                            "required": true,
                                            "type": "number"
                                        },
                                        "product_price":{
                                            "description": "单个商品售价",
                                            "required": true,
                                            "type": "string"
                                        },

                                    }
                                }
                            }
                        }
                    },
                ],
                "tags":[
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "description": "信息描述"
                                        },
                                        "order_id": {
                                            "type": "string",
                                            "description": "订单编号"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "true or false"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post":{
                "summary":"取消订单接口",
                "description": "取消订单接口",
                "parameters":[
                    {
                        "name": "access_token",
                        "in": "body",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string",
                    },
                    {
                        "name": "order_id",
                        "in": "body",
                        "description": "订单编号",
                        "required": true,
                        "type": "string",
                    },
                    {
                        "name": "cancel",
                        "in": "body",
                        "description": "取消订单",
                        "required": true,
                        "type": "string"
                    },
                ],
                "tags":[
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "description": "信息描述"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "true or false"
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/order_list/": {
            "get": {
                "summary": "获取订单列表",
                "description": "获取订单列表",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "access_token,访问令牌",
                        "required": true,
                        "type": "string",
                    },
                    {
                        "name": "cur_page",
                        "in": "query",
                        "description": "分页器当前请求页,默认第1页",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "order_status",
                        "in": "query",
                        "description": "订单状态：  1  已取消：取消订单(回退销量)  \n3  待发货：已付款，未发货  \n4  已发货：已付款，已发货  \n5  已完成：为已完成状态",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "date_interval",
                        "in": "query",
                        "description": "查询时间：2014-10-07|2014-10-08，注：使用‘|’区分，该参数和date_interval_type结合使用",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "date_interval_type",
                        "in": "query",
                        "description": "时间类型：1 下单时间 3 发货时间 6 订单完成时间 7 订单取消时间",
                        "required": false,
                        "type": "string"
                    },
                    
                ],
                "tags": [
                    "order"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "orders": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/Order"
                                            }
                                        }
                                    }
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
    },

    "definitions": {
        "AccessToken": {
            "type": "object",
            "required": [
                "access_token",
                "expires_in"
            ],
            "properties": {
                "access_token": {
                    "type": "string",
                    "description": "api 接口访问凭证"
                },
                "expires_in": {
                    "type": "string",
                    "description": "access_token有效时间"
                }
            }
        },
        "Order": {
            "type": "object",
            "properties": {
                "order_id": {
                    "type": "string",
                    "description": "订单编号."
                },
                "total_price": {
                    "type": "string",
                    "description": "订单金额（实付金额RMB）."
                },
                "ship_name": {
                    "type": "string",
                    "description": "收货人"
                },
                "ship_address": {
                    "type": "string",
                    "description": "收获地址"
                },
                "ship_tel": {
                    "type": "string",
                    "description": "收获电话"
                },
                "product_count": {
                    "type": "string",
                    "description": "购买商品数量"
                },
                "payment_time": {
                    "type": "string",
                    "description": "支付时间"
                },
                "order_status": {
                    "type": "string",
                    "description": "订单状态"
                },
                "express_company_name": {
                    "type": "string",
                    "description": "快递名称"
                },
                "express_number": {
                    "type": "string",
                    "description": "快递号"
                },
                "remark": {
                    "type": "string",
                    "description": "订单备注"
                },
                "postage": {
                    "type": "string",
                    "description": "快递费"
                },
                "created_at": {
                    "type": "string",
                    "description": "订单创建时间"
                },
                "delivery_time": {
                    "type": "string",
                    "description": "发货时间"
                },
                "pay_time": {
                    "type": "string",
                    "description": "付款时间"
                },
                "cancel_time": {
                    "type": "string",
                    "description": "取消订单时间"
                },
                "finish_time": {
                    "type": "string",
                    "description": "订单完成时间"
                },
            }
        },
        "OrderDetail": {
            "type": "object",
            "properties": {
                "order_id": {
                    "type": "string",
                    "description": "订单编号."
                },
                "total_price": {
                    "type": "string",
                    "description": "订单金额（实付金额RMB）."
                },
                "ship_name": {
                    "type": "string",
                    "description": "收货人"
                },
                "ship_address": {
                    "type": "string",
                    "description": "收获地址"
                },
                "ship_tel": {
                    "type": "string",
                    "description": "收获电话"
                },
                "product_count": {
                    "type": "number",
                    "description": "购买商品数量"
                },
                "payment_time": {
                    "type": "string",
                    "description": "支付时间"
                },
                "order_status": {
                    "type": "string",
                    "description": "订单状态"
                },
                "express_company_name": {
                    "type": "string",
                    "description": "快递名称"
                },
                "express_number": {
                    "type": "string",
                    "description": "快递号"
                },
                "remark": {
                    "type": "string",
                    "description": "订单备注"
                },
                "postage": {
                    "type": "string",
                    "description": "快递费"
                },
                "created_at": {
                    "type": "string",
                    "description": "订单创建时间"
                },
                "delivery_time": {
                    "type": "string",
                    "description": "发货时间"
                },
                "pay_time": {
                    "type": "string",
                    "description": "付款时间"
                },
                "cancel_time": {
                    "type": "string",
                    "description": "取消订单时间"
                },
                "finish_time": {
                    "type": "string",
                    "description": "订单完成时间"
                },
                "express_details":{
                    "type": "string",
                    "description": "物流信息"
                },
                "deal_id":{
                    "description": "交易流水号",
                    "type": "string",
                },
                "deal_price":{
                    "description": "交易总金额",
                    "type": "string",
                },
                "apply_stock_id":{
                    "description": "申请库存资源的id",
                    "type": "number",
                },
                "products":{
                    "items": {
                        "$ref": "#/definitions/Product"
                    },
                },
            }
        },
        "Product":{
            "type": "object",
            "properties": {
                "product_id":{
                    "description": "商品id",
                    "type": "number"
                },
                "product_model_id":{
                    "description": "商品规格id",
[...]
