{
    "swagger": "2.0",
    "info": {
        "description": "开放平台api文档",
        "version": "1.0.0",
        "title": "开放平台api文档",
        "contact": {
            "email": "guoyucheng@weizoom.com"
        }
    },
    "host": "openapi.weizom.com",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/oauth/access_token/": {
            "get": {
                "tags": [
                    "auth"
                ],
                "summary": "根据appid和secret获取AccessToken",
                "description": "根据appid和secret获取AccessToken",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "appid",
                        "type": "string",
                        "description": "APP ID",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "secret",
                        "type": "string",
                        "description": "secret",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "access_token": "UKywoSQIL6t4divvUtAPojk7wz0dNN1tRJFbnNTxbHApwI8wz1P5wGvt5j8f5ij04n7QKUDB2z81pA9YtQIjuiEvsA==",
                                    "expires_in": ""
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/product/": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "获取商品详情",
                "description": "获取商品详情",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "type": "string",
                        "description": "access_token",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data response",
                        "examples": {
                            "application/json": {
                                "code": 200,
                                "data": {
                                    "is_use_cod_pay_interface": true,
                                    "limit_zone_type": 0,
                                    "thumbnails_url": "http://dev.weapp.com/standard_static/test_resource_img/yu3.jpg",
                                    "order_thumbnails_url": "http://dev.weapp.com/standard_static/test_resource_img/yu3.jpg",
                                    "swipe_images": [
                                        {
                                            "url": "http://dev.weapp.com/standard_static/test_resource_img/yu3.jpg",
                                            "width": 100,
                                            "linkUrl": "",
                                            "id": 96,
                                            "height": 100
                                        }
                                    ],
                                    "pic_url": "http://dev.weapp.com/standard_static/test_resource_img/yu3.jpg",
                                    "is_sellout": false,
                                    "supplier_postage_config": {},
                                    "postage_type": "unified_postage_type",
                                    "is_delivery": false,
                                    "detail": "松鼠桂鱼的详情",
                                    "id": 67,
                                    "unified_postage_money": 0,
                                    "min_limit": 0,
                                    "type": "object",
                                    "owner_id": 191,
                                    "sku": [
                                        {
                                            "original_price": 1,
                                            "is_deleted": false,
                                            "name": "1:1_2:4_3:7",
                                            "weight": 1,
                                            "price": 1,
                                            "market_price": 0,
                                            "id": 111,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 7,
                                                    "name": "1"
                                                },
                                                "颜色": {
                                                    "id": 1,
                                                    "name": "红色"
                                                },
                                                "尺寸": {
                                                    "id": 4,
                                                    "name": "M"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "红色",
                                                    "propertyName": "颜色",
                                                    "id": 1,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "M",
                                                    "propertyName": "尺寸",
                                                    "id": 4,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "1",
                                                    "propertyName": "类型",
                                                    "id": 7,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 2,
                                            "is_deleted": false,
                                            "name": "1:2_2:4_3:7",
                                            "weight": 1,
                                            "price": 2,
                                            "market_price": 0,
                                            "id": 112,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 7,
                                                    "name": "1"
                                                },
                                                "颜色": {
                                                    "id": 2,
                                                    "name": "黄色"
                                                },
                                                "尺寸": {
                                                    "id": 4,
                                                    "name": "M"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "黄色",
                                                    "propertyName": "颜色",
                                                    "id": 2,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "M",
                                                    "propertyName": "尺寸",
                                                    "id": 4,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "1",
                                                    "propertyName": "类型",
                                                    "id": 7,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 3,
                                            "is_deleted": false,
                                            "name": "1:3_2:4_3:7",
                                            "weight": 1,
                                            "price": 3,
                                            "id": 113,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 7,
                                                    "name": "1"
                                                },
                                                "颜色": {
                                                    "id": 3,
                                                    "name": "蓝色"
                                                },
                                                "尺寸": {
                                                    "id": 4,
                                                    "name": "M"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "蓝色",
                                                    "propertyName": "颜色",
                                                    "id": 3,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "M",
                                                    "propertyName": "尺寸",
                                                    "id": 4,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "1",
                                                    "propertyName": "类型",
                                                    "id": 7,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 4,
                                            "is_deleted": false,
                                            "name": "1:1_2:5_3:7",
                                            "weight": 1,
                                            "price": 4,
                                            "market_price": 0,
                                            "id": 114,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 7,
                                                    "name": "1"
                                                },
                                                "颜色": {
                                                    "id": 1,
                                                    "name": "红色"
                                                },
                                                "尺寸": {
                                                    "id": 5,
                                                    "name": "S"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "红色",
                                                    "propertyName": "颜色",
                                                    "id": 1,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "S",
                                                    "propertyName": "尺寸",
                                                    "id": 5,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "1",
                                                    "propertyName": "类型",
                                                    "id": 7,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 5,
                                            "is_deleted": false,
                                            "name": "1:2_2:5_3:7",
                                            "weight": 1,
                                            "price": 5,
                                            "market_price": 0,
                                            "id": 115,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 7,
                                                    "name": "1"
                                                },
                                                "颜色": {
                                                    "id": 2,
                                                    "name": "黄色"
                                                },
                                                "尺寸": {
                                                    "id": 5,
                                                    "name": "S"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "黄色",
                                                    "propertyName": "颜色",
                                                    "id": 2,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "S",
                                                    "propertyName": "尺寸",
                                                    "id": 5,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "1",
                                                    "propertyName": "类型",
                                                    "id": 7,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 6,
                                            "is_deleted": false,
                                            "name": "1:3_2:5_3:7",
                                            "weight": 1,
                                            "price": 6,
                                            "market_price": 0,
                                            "id": 116,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 7,
                                                    "name": "1"
                                                },
                                                "颜色": {
                                                    "id": 3,
                                                    "name": "蓝色"
                                                },
                                                "尺寸": {
                                                    "id": 5,
                                                    "name": "S"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "蓝色",
                                                    "propertyName": "颜色",
                                                    "id": 3,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "S",
                                                    "propertyName": "尺寸",
                                                    "id": 5,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "1",
                                                    "propertyName": "类型",
                                                    "id": 7,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 7,
                                            "is_deleted": false,
                                            "name": "1:1_2:6_3:7",
                                            "weight": 1,
                                            "price": 7,
                                            "market_price": 0,
                                            "id": 117,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 7,
                                                    "name": "1"
                                                },
                                                "颜色": {
                                                    "id": 1,
                                                    "name": "红色"
                                                },
                                                "尺寸": {
                                                    "id": 6,
                                                    "name": "L"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "红色",
                                                    "propertyName": "颜色",
                                                    "id": 1,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "L",
                                                    "propertyName": "尺寸",
                                                    "id": 6,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "1",
                                                    "propertyName": "类型",
                                                    "id": 7,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "purchase_price": 0,
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 8,
                                            "is_deleted": false,
                                            "name": "1:2_2:6_3:7",
                                            "weight": 1,
                                            "price": 8,
                                            "market_price": 0,
                                            "id": 118,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 7,
                                                    "name": "1"
                                                },
                                                "颜色": {
                                                    "id": 2,
                                                    "name": "黄色"
                                                },
                                                "尺寸": {
                                                    "id": 6,
                                                    "name": "L"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "黄色",
                                                    "propertyName": "颜色",
                                                    "id": 2,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "L",
                                                    "propertyName": "尺寸",
                                                    "id": 6,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "1",
                                                    "propertyName": "类型",
                                                    "id": 7,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 9,
                                            "is_deleted": false,
                                            "name": "1:3_2:6_3:7",
                                            "weight": 1,
                                            "price": 9,
                                            "market_price": 0,
                                            "id": 119,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 7,
                                                    "name": "1"
                                                },
                                                "颜色": {
                                                    "id": 3,
                                                    "name": "蓝色"
                                                },
                                                "尺寸": {
                                                    "id": 6,
                                                    "name": "L"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "蓝色",
                                                    "propertyName": "颜色",
                                                    "id": 3,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "L",
                                                    "propertyName": "尺寸",
                                                    "id": 6,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "1",
                                                    "propertyName": "类型",
                                                    "id": 7,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 10,
                                            "is_deleted": false,
                                            "name": "1:1_2:4_3:8",
                                            "weight": 1,
                                            "price": 10,
                                            "market_price": 0,
                                            "id": 120,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 8,
                                                    "name": "3"
                                                },
                                                "颜色": {
                                                    "id": 1,
                                                    "name": "红色"
                                                },
                                                "尺寸": {
                                                    "id": 4,
                                                    "name": "M"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "红色",
                                                    "propertyName": "颜色",
                                                    "id": 1,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "M",
                                                    "propertyName": "尺寸",
                                                    "id": 4,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "3",
                                                    "propertyName": "类型",
                                                    "id": 8,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 11,
                                            "is_deleted": false,
                                            "name": "1:2_2:4_3:8",
                                            "weight": 1,
                                            "price": 11,
                                            "market_price": 0,
                                            "id": 121,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 8,
                                                    "name": "3"
                                                },
                                                "颜色": {
                                                    "id": 2,
                                                    "name": "黄色"
                                                },
                                                "尺寸": {
                                                    "id": 4,
                                                    "name": "M"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "黄色",
                                                    "propertyName": "颜色",
                                                    "id": 2,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "M",
                                                    "propertyName": "尺寸",
                                                    "id": 4,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "3",
                                                    "propertyName": "类型",
                                                    "id": 8,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 12,
                                            "is_deleted": false,
                                            "name": "1:3_2:4_3:8",
                                            "weight": 1,
                                            "price": 12,
                                            "market_price": 0,
                                            "id": 122,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 8,
                                                    "name": "3"
                                                },
                                                "颜色": {
                                                    "id": 3,
                                                    "name": "蓝色"
                                                },
                                                "尺寸": {
                                                    "id": 4,
                                                    "name": "M"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "蓝色",
                                                    "propertyName": "颜色",
                                                    "id": 3,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "M",
                                                    "propertyName": "尺寸",
                                                    "id": 4,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "3",
                                                    "propertyName": "类型",
                                                    "id": 8,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 13,
                                            "is_deleted": false,
                                            "name": "1:1_2:5_3:8",
                                            "weight": 1,
                                            "price": 13,
                                            "market_price": 0,
                                            "id": 123,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 8,
                                                    "name": "3"
                                                },
                                                "颜色": {
                                                    "id": 1,
                                                    "name": "红色"
                                                },
                                                "尺寸": {
                                                    "id": 5,
                                                    "name": "S"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "红色",
                                                    "propertyName": "颜色",
                                                    "id": 1,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "S",
                                                    "propertyName": "尺寸",
                                                    "id": 5,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "3",
                                                    "propertyName": "类型",
                                                    "id": 8,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 14,
                                            "is_deleted": false,
                                            "name": "1:2_2:5_3:8",
                                            "weight": 1,
                                            "price": 14,
                                            "market_price": 0,
                                            "id": 124,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 8,
                                                    "name": "3"
                                                },
                                                "颜色": {
                                                    "id": 2,
                                                    "name": "黄色"
                                                },
                                                "尺寸": {
                                                    "id": 5,
                                                    "name": "S"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "黄色",
                                                    "propertyName": "颜色",
                                                    "id": 2,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "S",
                                                    "propertyName": "尺寸",
                                                    "id": 5,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "3",
                                                    "propertyName": "类型",
                                                    "id": 8,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 15,
                                            "is_deleted": false,
                                            "name": "1:3_2:5_3:8",
                                            "weight": 1,
                                            "price": 15,
                                            "market_price": 0,
                                            "id": 125,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 8,
                                                    "name": "3"
                                                },
                                                "颜色": {
                                                    "id": 3,
                                                    "name": "蓝色"
                                                },
                                                "尺寸": {
                                                    "id": 5,
                                                    "name": "S"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "蓝色",
                                                    "propertyName": "颜色",
                                                    "id": 3,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "S",
                                                    "propertyName": "尺寸",
                                                    "id": 5,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "3",
                                                    "propertyName": "类型",
                                                    "id": 8,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "purchase_price": 0,
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 16,
                                            "is_deleted": false,
                                            "name": "1:1_2:6_3:8",
                                            "weight": 1,
                                            "price": 16,
                                            "market_price": 0,
                                            "id": 126,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 8,
                                                    "name": "3"
                                                },
                                                "颜色": {
                                                    "id": 1,
                                                    "name": "红色"
                                                },
                                                "尺寸": {
                                                    "id": 6,
                                                    "name": "L"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "红色",
                                                    "propertyName": "颜色",
                                                    "id": 1,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "L",
                                                    "propertyName": "尺寸",
                                                    "id": 6,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "3",
                                                    "propertyName": "类型",
                                                    "id": 8,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 17,
                                            "is_deleted": false,
                                            "name": "1:2_2:6_3:8",
                                            "weight": 1,
                                            "price": 17,
                                            "market_price": 0,
                                            "id": 127,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 8,
                                                    "name": "3"
                                                },
                                                "颜色": {
                                                    "id": 2,
                                                    "name": "黄色"
                                                },
                                                "尺寸": {
                                                    "id": 6,
                                                    "name": "L"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "黄色",
                                                    "propertyName": "颜色",
                                                    "id": 2,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "L",
                                                    "propertyName": "尺寸",
                                                    "id": 6,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "3",
                                                    "propertyName": "类型",
                                                    "id": 8,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "purchase_price": 0,
                                            "product_id": 67
                                        },
                                        {
                                            "original_price": 18,
                                            "is_deleted": false,
                                            "name": "1:3_2:6_3:8",
                                            "weight": 1,
                                            "price": 18,
                                            "market_price": 0,
                                            "id": 128,
                                            "user_code": "",
                                            "stock_type": 0,
                                            "property2value": {
                                                "类型": {
                                                    "id": 8,
                                                    "name": "3"
                                                },
                                                "颜色": {
                                                    "id": 3,
                                                    "name": "蓝色"
                                                },
                                                "尺寸": {
                                                    "id": 6,
                                                    "name": "L"
                                                }
                                            },
                                            "property_values": [
                                                {
                                                    "name": "蓝色",
                                                    "propertyName": "颜色",
                                                    "id": 3,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "L",
                                                    "propertyName": "尺寸",
                                                    "id": 6,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "3",
                                                    "propertyName": "类型",
                                                    "id": 8,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "stocks": "无限",
                                            "product_id": 67
                                        }
                                    ],
                                    "used_system_model_properties": [
                                        {
                                            "type": "product_model_property",
                                            "values": [
                                                {
                                                    "name": "红色",
                                                    "propertyName": "颜色",
                                                    "id": 1,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_1.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "黄色",
                                                    "propertyName": "颜色",
                                                    "id": 2,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_5.png",
                                                    "propertyId": 1
                                                },
                                                {
                                                    "name": "蓝色",
                                                    "propertyName": "颜色",
                                                    "id": 3,
                                                    "type": "product_model_property_value",
                                                    "image": "http://dev.weapp.com/standard_static/test_resource_img/icon_color/icon_9.png",
                                                    "propertyId": 1
                                                }
                                            ],
                                            "id": 1,
                                            "name": "颜色"
                                        },
                                        {
                                            "type": "product_model_property",
                                            "values": [
                                                {
                                                    "name": "M",
                                                    "propertyName": "尺寸",
                                                    "id": 4,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "S",
                                                    "propertyName": "尺寸",
                                                    "id": 5,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                },
                                                {
                                                    "name": "L",
                                                    "propertyName": "尺寸",
                                                    "id": 6,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 2
                                                }
                                            ],
                                            "id": 2,
                                            "name": "尺寸"
                                        },
                                        {
                                            "type": "product_model_property",
                                            "values": [
                                                {
                                                    "name": "1",
                                                    "propertyName": "类型",
                                                    "id": 7,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                },
                                                {
                                                    "name": "3",
                                                    "propertyName": "类型",
                                                    "id": 8,
                                                    "type": "product_model_property_value",
                                                    "image": "",
                                                    "propertyId": 3
                                                }
                                            ],
                                            "id": 3,
                                            "name": "类型"
                                        }
                                    ],
                                    "is_deleted": false,
                                    "categories": null,
                                    "is_enable_bill": false,
                                    "name": "松鼠桂鱼",
                                    "limit_zone": 0,
                                    "created_at": "2016-09-09 15:00",
                                    "price_info": {
                                        "display_original_price": 1,
                                        "display_price": 1,
                                        "max_price": 18,
                                        "min_price": 1
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mall/products/": {
            "get": {
                "tags": [
                    "products"
                ],
                "summary": "获取商品列表",
                "description": "获取商品列表 /n",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "type": "string",
                        "description": "密钥",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "type": "string",
                        "description": "用户分配的ID",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "errMsg": {
                                            "type": "string"
                                        },
                                        "innerErrMsg":{
                                            "type": "string"
                                        },
                                        "products":{
                                            "type": "array",
                                            "description": "商品列表", 
                                            "items": {
                                                "type": "object",
                                                "properties":{
                                                    "classification": {
                                                        "type": "integer",
                                                        "description": "商品分类ID"
                                                    },
                                                    "sales": {
                                                        "type": "integer",
                                                        "description": "商品销量"
                                                    },
                                                    "thumbnails_url": {
                                                        "type": "string",
                                                        "description": "商品缩略图的url地址"
                                                    },
                                                    "total_stocks": {
                                                        "type": "integer",
                                                        "description": "商品总库存"
                                                    },
                                                    "id": {
                                                        "type": "integer",
                                                        "description": "商品ID"
                                                    },
                                                    "is_sellout": {
                                                        "type": "string",
                                                        "description": "商品是否售空"
                                                    },
                                                    "display_price_range": {
                                                        "type": "string",
                                                        "description": "商品显示的价格排序"
                                                    },
                                                    "display_index": {
                                                        "type": "string",
                                                        "description": "商品显示的排序"
                                                    },
                                                    "min_limit": {
                                                        "type": "integer",
                                                        "description": "商品最大数量"
                                                    },
                                                    "bar_code": {
                                                        "type": "string",
                                                        "description": "商品条形码"
                                                    },
                                                    "purchase_price": {
                                                        "type": "integer",
                                                        "description": "商品进货价格"
                                                    },
                                                    "store_name":{
                                                        "type": "integer",
                                                        "description": "商品供应商"
                                                    },
                                                    "models": {
                                                        "type": "integer",
                                                        "description": "商品规格"
                                                    },
                                                    "display_price": {
                                                        "type": "integer",
                                                        "description": "商品展示价格"
                                                    },
                                                    "user_code": {
                                                        "type": "integer",
                                                        "description": "用户编码"
                                                    },
                                                    "is_use_custom_model": {
                                                        "type": "string",
                                                        "description": "是否为普通规格"
                                                    },
                                                    "stocks": {
                                                        "type": "integer",
                                                        "description": "商品库存"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "description": "商品名"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "description": "商品创建时间"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
 
                            }
                        }
                    }
                }
            }
        },
        "/mall/apply_product_stock/": {
            "get": {
                "tags": [
                    "apply_product_stock"
                ],
                "summary": "申请商品库存",
                "description": "申请商品库存",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "product_id",
                        "type": "string",
                        "description": "商品ID",
                        "required": true,
                    },
                    {
                        "in": "query",
                        "name": "apply_stock",
                        "type": "string",
                        "description": "申请的库存数量",
                        "required": true,
                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "type": "string",
                        "description": "密钥",
                        "required": true,

                    }
                ],
                "responses": {
                    "200": {
                        "description": "申请商品库存的响应信息",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                },
                                "product": {
                                    "type": "object",
                                    "properties": {
                                        "stocks": {
                                            "type": "string",
                                            "description": "商品库存"
                                        },
                                        "id": {
                                            "type": "string",
                                            "description": "商品ID"
                                        },
                                        "apply_stock": {
                                            "type": "string",
                                            "description": "申请库存数量"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "商品名称"
                                        },
                                        "stock_id": {
                                            "type": "string",
                                            "description": "库存标识ID"
                                        },
                                        "result":{
                                            "type": "string",
                                            "description": "申请结果"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
         "/mall/release_product_stock/": {
            "get": {
                "tags": [
                    "apply_product_stock"
                ],
                "summary": "释放商品库存",
                "description": "释放商品库存",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "product_id",
                        "type": "string",
                        "description": "商品ID",
                        "required": true,

                    },
                    {
                        "in": "query",
                        "name": "stock_id",
                        "type": "string",
                        "description": "库存标识ID",
                        "required": true,

                    },
                    {
                        "in": "query",
                        "name": "access_token",
                        "type": "string",
                        "description": "密钥", 
                        "required": true,

                    }
                ],
                "responses": {
                    "200": {
                        "description": "释放商品库存的响应信息",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "errMsg": {
                                    "type": "string"
                                },
                                "innerErrMsg": {
                                    "type": "string"
                                },
                                "product": {
                                    "type": "object",
                                    "properties": {
                                        "stocks": {
                                            "type": "string",
                                            "description": "商品库存"
                                        },
                                        "id": {
                                            "type": "string",
                                            "description": "商品ID"
                                        },
                                        "release_stock": {
                                            "type": "string",
                                            "description": "释放库存数"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "商品名称"
                                        },
                                        "stock_id": {
                                            "type": "string",
                                            "description": "库存标识ID"
                                        },
                                        "result":{
                                            "type": "string",
                                            "description": "申请结果"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "AccessToken": {
            "type": "object",
            "required": [
                "access_token",
                "expires_in"
            ],
            "properties": {
                "access_token": {
                    "type": "string",
                    "description": "api 接口访问凭证"
                },
                "expires_in": {
                    "type": "string",
                    "description": "access_token有效时间"
                }
            }
        }
    },
    "externalDocs": {
        "description": "授权API描述文档",
        "url": "http://swagger.io"
    }
}